<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>
<img src="channel.jpg" width="128" height="128"/><br>
<center><h1>"Hello Folks! Welcome To Tier3Vision"</h1></center>
</body>
</html>

## LIST COMPREHENSION

### Typical format of List Comprehensions

A list comprehension typically has 3 components:

The output (which can be string, number, list or any object you want to put in the list.

For Statements

Conditional filtering (optional).

## Below is a typical format of a list comprehension.
### [[outpt value] for (i in iterable) if (filter conditions)]

In [1]:
result = []
for i in range(10):
    if i%2 == 0:
        result.append(i)
result

[0, 2, 4, 6, 8]

In [3]:
[i for i in range(10) if i%2 != 0]

[1, 3, 5, 7, 9]

In [50]:
x = [i**2 for i in range(0,101) if i%2 == 0]

In [51]:
print(x)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604, 10000]

In [52]:
# For Loop Version
mylist = [1,2,3,4,5]
result = []

for i in mylist:
    result.append(i**2)

result

[1, 4, 9, 16, 25]

In [53]:
# List Comprehension Version
[i**2 for i in [1,2,3,4,5]]

[1, 4, 9, 16, 25]

In [54]:
mylist = [1,2,3,4,5]
result = []

for i in mylist:
    if i%2==0:
        result.append(i**2)

result

[4, 16]

In [55]:
# List Comprehension Version
[i**2 for i in [1,2,3,4,5] if i%2==0]

[4, 16]

In [56]:
# For Loop Version
mylist = [1,2,3,4,5]
result = []

for i in mylist:
    if i%2==0:
        result.append(i**2)
    else:
        result.append(i**3)

result

[1, 4, 27, 16, 125]

In [57]:
# List Comprehension Version
[i**2 if i%2==0 else i**3 for i in [1,2,3,4,5]]

[1, 4, 27, 16, 125]

In [58]:
# For Loop Version
mat = [[1,2,3,4], [5,6,7,8], [9,10,11,12], [13,14,15,16]]
result = []
for row in mat:
    for i in row:
        if i%2 == 0:
            result.append(i)

result

[2, 4, 6, 8, 10, 12, 14, 16]

In [59]:
# List Comprehension version
[i for row in mat for i in row if i%2==0]

[2, 4, 6, 8, 10, 12, 14, 16]

In [5]:
# For Loop Version
mylist = [9, 3, 6, 1, 5, 0, 8, 2, 4, 7]
list_b = [6, 4, 6, 1, 2, 2]
#print(mylist.index(6))

result = []
for i in list_b:
    result.append((i, mylist.index(i)))

result

[(6, 2), (4, 8), (6, 2), (1, 3), (2, 7), (2, 7)]

In [6]:
# List Comprehension version
[(i, mylist.index(i)) for i in list_b]

[(6, 2), (4, 8), (6, 2), (1, 3), (2, 7), (2, 7)]

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>
<img src="channel.jpg" width="128" height="128"/><br>
<center><h1>"Hello Folks! Welcome To Tier3Vision"</h1></center>
</body>
</html>

## Dictionary Comprehensions

In [2]:
# For Loop Version
mylist = [9, 3, 6, 1, 5, 0, 8, 2, 4, 7]
list_b = [6, 4, 6, 1, 2, 2]

result = {}
for i in list_b:
    result[i]=mylist.index(i)

result

{6: 2, 4: 8, 1: 3, 2: 7}

In [3]:
# List Comprehension version
{i: mylist.index(i) for i in list_b}

{6: 2, 4: 8, 1: 3, 2: 7}

In [4]:
# Input:
sentences = ["a new world record was set", 
             "in the holy city of ayodhya", 
             "on the eve of diwali on tuesday", 
             "with over three lakh diya or earthen lamps", 
             "lit up simultaneously on the banks of the sarayu river"]

stopwords = ['for', 'a', 'of', 'the', 'and', 'to', 'in', 'on', 'with']

In [6]:
# For Loop Version
results = []    
for sentence in sentences:
    sentence_tokens = []
    for word in sentence.split(' '):
        if word not in stopwords:
            sentence_tokens.append(word)
    results.append(sentence_tokens)

results

[['new', 'world', 'record', 'was', 'set'],
 ['holy', 'city', 'ayodhya'],
 ['eve', 'diwali', 'tuesday'],
 ['over', 'three', 'lakh', 'diya', 'or', 'earthen', 'lamps'],
 ['lit', 'up', 'simultaneously', 'banks', 'sarayu', 'river']]

In [7]:
print([word for sentence in sentences for word in sentence.split(' ') if word not in stopwords])

['new', 'world', 'record', 'was', 'set', 'holy', 'city', 'ayodhya', 'eve', 'diwali', 'tuesday', 'over', 'three', 'lakh', 'diya', 'or', 'earthen', 'lamps', 'lit', 'up', 'simultaneously', 'banks', 'sarayu', 'river']

In [8]:
# List Comprehension Version
[[word for word in sentence.split() if word not in stopwords] for sentence in sentences]

[['new', 'world', 'record', 'was', 'set'],
 ['holy', 'city', 'ayodhya'],
 ['eve', 'diwali', 'tuesday'],
 ['over', 'three', 'lakh', 'diya', 'or', 'earthen', 'lamps'],
 ['lit', 'up', 'simultaneously', 'banks', 'sarayu', 'river']]

In [22]:
# Input
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Desired Output
# [1, 2, -3, -4, -5, -6, -7, -8, 9, 10]

In [9]:
[-i if  2 < i < 9 else i for i in mylist]

[9, -3, -6, 1, -5, 0, -8, 2, -4, -7]

In [24]:
# Desired output
# {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6,
#  'g': 7, 'h': 8, 'i': 9, 'j': 10, 'k': 11, 'l': 12,
#  'm': 13, 'n': 14, 'o': 15, 'p': 16, 'q': 17, 'r': 18,
#  's': 19, 't': 20, 'u': 21, 'v': 22, 'w': 23, 'x': 24,
#  'y': 25, 'z': 26}

In [10]:
print({chr(i+97):i+1 for i in range(26)})

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9, 'j': 10, 'k': 11, 'l': 12, 'm': 13, 'n': 14, 'o': 15, 'p': 16, 'q': 17, 'r': 18, 's': 19, 't': 20, 'u': 21, 'v': 22, 'w': 23, 'x': 24, 'y': 25, 'z': 26}

In [11]:
# Input
sentences = ["The Hubble Space telescope has spotted", 
             "a formation of galaxies that resembles", 
             "a smiling face in the sky sky"]

stopwords = ['for', 'a', 'of', 'the', 'and', 'to', 'in', 'on', 'with']

# Desired output:
# {'face', 'telescope', 'formation', 'smiling', 'hubble', 'spotted', 
# 'resembles', 'has', 'sky', 'galaxies', 'that', 'space'}

In [12]:
print({word for sentence in sentences for word in sentence.lower().split() if word not in stopwords})

{'hubble', 'telescope', 'smiling', 'that', 'sky', 'face', 'galaxies', 'has', 'formation', 'spotted', 'resembles', 'space'}

In [13]:
# Input
sentences = ["The Hubble Space telescope has spotted", 
             "a formation of galaxies that resembles", 
             "a smiling face in the sky", 
             "The image taken with the Wide Field Camera", 
             "shows a patch of space filled with galaxies", 
             "of all shapes, colours and sizes"]

stopwords = ['for', 'a', 'of', 'the', 'and', 'to', 'in', 'on', 'with']

# Desired Output
# [['hubble', 'space', 'telescope', 'has', 'spotted'],
#  ['formation', 'galaxies', 'that', 'resembles'],
#  ['smiling', 'face', 'sky'],
#  ['the', 'image', 'taken', 'wide', 'field', 'camera'],
#  ['shows', 'patch', 'space', 'filled', 'galaxies'],
#  ['all', 'shapes,', 'colours', 'sizes']]

In [14]:
[[word for word in sentence.lower().split() if word not in stopwords] for sentence in sentences]

[['hubble', 'space', 'telescope', 'has', 'spotted'],
 ['formation', 'galaxies', 'that', 'resembles'],
 ['smiling', 'face', 'sky'],
 ['image', 'taken', 'wide', 'field', 'camera'],
 ['shows', 'patch', 'space', 'filled', 'galaxies'],
 ['all', 'shapes,', 'colours', 'sizes']]

# Map Function

In [15]:
def fact(n):
    if n == 0:
        return 1
    else:
        return n* fact(n-1)

In [16]:
fact(5)

120

In [17]:
lt=[0,1,2,3,4,5]

In [18]:
map(fact,lt)

In [19]:
list(map(fact,lt))

[1, 1, 2, 6, 24, 120]

In [20]:
t=[i**2+2 for i in range(20) if i % 2 ==0 and i > 3]

In [22]:
t

[18, 38, 66, 102, 146, 198, 258, 326]

In [23]:
my_list=[6,4,3,5,2,4,2]

In [24]:
squared_list_lambda = list(map(lambda x: x**2, my_list))

In [25]:
squared_list_lambda

[36, 16, 9, 25, 4, 16, 4]

In [26]:
#MAP Function, takes input as function and list. applies function on list and returns the value as a map object
list1 = [1,2,3,4]
list(map(lambda x:x*x,list1)) # [1, 4, 9, 16]

#reduce takes 2 items at once as input from sequence. it makes an inverted tree
from functools import reduce
list2 = [1,2,3,4,5,6,7,8,9,10]
reduce(lambda x,y: x+y, list2) # 55

list2 = [1,2,3,4,5,6,7,8,9,10]
list(filter(lambda x: x%2==0,list2)) # [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [27]:
List = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 , 11, 12, 13, 14, 15 ]

Power = map( lambda n : pow( n ,2 ) , List )

print ("\nThe power value is : \n")

print( Power )

print ( list( Power ) )

The power value is :

<map object at 0x7fa888cf62e0>
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

In [28]:
a=lambda x:x+5

In [29]:
a(5)

10

In [30]:
a(2)

7

In [31]:
b=lambda x: x **2

In [32]:
b(6)

36