<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>
<img src="channel.jpg" width="128" height="128"/><br>
<center><h1>"Hello Folks! Welcome To Tier3Vision"</h1></center>
</body>
</html>

# Pyspark

### PySpark is an interface for Apache Spark in Python. It not only allows you to write Spark applications using Python APIs, but also provides the PySpark shell for interactively analyzing your data in a distributed environment.  It is majorly used for processing structured and semi-structured datasets. It also provides an optimized API that can read the data from the various data source containing different files formats. Thus, with PySpark you can process the data by making use of SQL as well as HiveQL

In [6]:
!pip install pyspark

Requirement already satisfied: pyspark in /opt/anaconda3/lib/python3.8/site-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in /opt/anaconda3/lib/python3.8/site-packages (from pyspark) (0.10.9.2)

In [7]:
import pyspark

In [8]:
import pandas as pd
type(pd.read_csv('house price.csv'))

pandas.core.frame.DataFrame

In [9]:
from pyspark.sql import SparkSession

In [10]:
spark=SparkSession.builder.appName('house_price').getOrCreate()

In [11]:
spark

In [12]:
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")

In [13]:
from pyspark.sql.functions import *

In [14]:
df=spark.read.csv('house price.csv')

In [15]:
df=spark.read.option('header','true').csv('house price.csv')

In [16]:
type(df)

pyspark.sql.dataframe.DataFrame

In [17]:
df.printSchema()

root
 |-- Id: string (nullable = true)
 |-- MSSubClass: string (nullable = true)
 |-- MSZoning: string (nullable = true)
 |-- LotFrontage: string (nullable = true)
 |-- LotArea: string (nullable = true)
 |-- Street: string (nullable = true)
 |-- Alley: string (nullable = true)
 |-- LotShape: string (nullable = true)
 |-- LandContour: string (nullable = true)
 |-- Utilities: string (nullable = true)
 |-- LotConfig: string (nullable = true)
 |-- LandSlope: string (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Condition1: string (nullable = true)
 |-- Condition2: string (nullable = true)
 |-- BldgType: string (nullable = true)
 |-- HouseStyle: string (nullable = true)
 |-- OverallQual: string (nullable = true)
 |-- OverallCond: string (nullable = true)
 |-- YearBuilt: string (nullable = true)
 |-- YearRemodAdd: string (nullable = true)
 |-- RoofStyle: string (nullable = true)
 |-- RoofMatl: string (nullable = true)
 |-- Exterior1st: string (nullable = true)
 |-- Exterior2nd: string (nullable = true)
 |-- MasVnrType: string (nullable = true)
 |-- MasVnrArea: string (nullable = true)
 |-- ExterQual: string (nullable = true)
 |-- ExterCond: string (nullable = true)
 |-- Foundation: string (nullable = true)
 |-- BsmtQual: string (nullable = true)
 |-- BsmtCond: string (nullable = true)
 |-- BsmtExposure: string (nullable = true)
 |-- BsmtFinType1: string (nullable = true)
 |-- BsmtFinSF1: string (nullable = true)
 |-- BsmtFinType2: string (nullable = true)
 |-- BsmtFinSF2: string (nullable = true)
 |-- BsmtUnfSF: string (nullable = true)
 |-- TotalBsmtSF: string (nullable = true)
 |-- Heating: string (nullable = true)
 |-- HeatingQC: string (nullable = true)
 |-- CentralAir: string (nullable = true)
 |-- Electrical: string (nullable = true)
 |-- 1stFlrSF: string (nullable = true)
 |-- 2ndFlrSF: string (nullable = true)
 |-- LowQualFinSF: string (nullable = true)
 |-- GrLivArea: string (nullable = true)
 |-- BsmtFullBath: string (nullable = true)
 |-- BsmtHalfBath: string (nullable = true)
 |-- FullBath: string (nullable = true)
 |-- HalfBath: string (nullable = true)
 |-- BedroomAbvGr: string (nullable = true)
 |-- KitchenAbvGr: string (nullable = true)
 |-- KitchenQual: string (nullable = true)
 |-- TotRmsAbvGrd: string (nullable = true)
 |-- Functional: string (nullable = true)
 |-- Fireplaces: string (nullable = true)
 |-- FireplaceQu: string (nullable = true)
 |-- GarageType: string (nullable = true)
 |-- GarageYrBlt: string (nullable = true)
 |-- GarageFinish: string (nullable = true)
 |-- GarageCars: string (nullable = true)
 |-- GarageArea: string (nullable = true)
 |-- GarageQual: string (nullable = true)
 |-- GarageCond: string (nullable = true)
 |-- PavedDrive: string (nullable = true)
 |-- WoodDeckSF: string (nullable = true)
 |-- OpenPorchSF: string (nullable = true)
 |-- EnclosedPorch: string (nullable = true)
 |-- 3SsnPorch: string (nullable = true)
 |-- ScreenPorch: string (nullable = true)
 |-- PoolArea: string (nullable = true)
 |-- PoolQC: string (nullable = true)
 |-- Fence: string (nullable = true)
 |-- MiscFeature: string (nullable = true)
 |-- MiscVal: string (nullable = true)
 |-- MoSold: string (nullable = true)
 |-- YrSold: string (nullable = true)
 |-- SaleType: string (nullable = true)
 |-- SaleCondition: string (nullable = true)
 |-- SalePrice: string (nullable = true)

In [18]:
df.show()

+---+----------+--------+-----------+-------+------+-----+--------+-----------+---------+---------+---------+------------+----------+----------+--------+----------+-----------+-----------+---------+------------+---------+--------+-----------+-----------+----------+----------+---------+---------+----------+--------+--------+------------+------------+----------+------------+----------+---------+-----------+-------+---------+----------+----------+--------+--------+------------+---------+------------+------------+--------+--------+------------+------------+-----------+------------+----------+----------+-----------+----------+-----------+------------+----------+----------+----------+----------+----------+----------+-----------+-------------+---------+-----------+--------+------+-----+-----------+-------+------+------+--------+-------------+---------+
| Id|MSSubClass|MSZoning|LotFrontage|LotArea|Street|Alley|LotShape|LandContour|Utilities|LotConfig|LandSlope|Neighborhood|Condition1|Condition2|BldgType|HouseStyle|OverallQual|OverallCond|YearBuilt|YearRemodAdd|RoofStyle|RoofMatl|Exterior1st|Exterior2nd|MasVnrType|MasVnrArea|ExterQual|ExterCond|Foundation|BsmtQual|BsmtCond|BsmtExposure|BsmtFinType1|BsmtFinSF1|BsmtFinType2|BsmtFinSF2|BsmtUnfSF|TotalBsmtSF|Heating|HeatingQC|CentralAir|Electrical|1stFlrSF|2ndFlrSF|LowQualFinSF|GrLivArea|BsmtFullBath|BsmtHalfBath|FullBath|HalfBath|BedroomAbvGr|KitchenAbvGr|KitchenQual|TotRmsAbvGrd|Functional|Fireplaces|FireplaceQu|GarageType|GarageYrBlt|GarageFinish|GarageCars|GarageArea|GarageQual|GarageCond|PavedDrive|WoodDeckSF|OpenPorchSF|EnclosedPorch|3SsnPorch|ScreenPorch|PoolArea|PoolQC|Fence|MiscFeature|MiscVal|MoSold|YrSold|SaleType|SaleCondition|SalePrice|
+---+----------+--------+-----------+-------+------+-----+--------+-----------+---------+---------+---------+------------+----------+----------+--------+----------+-----------+-----------+---------+------------+---------+--------+-----------+-----------+----------+----------+---------+---------+----------+--------+--------+------------+------------+----------+------------+----------+---------+-----------+-------+---------+----------+----------+--------+--------+------------+---------+------------+------------+--------+--------+------------+------------+-----------+------------+----------+----------+-----------+----------+-----------+------------+----------+----------+----------+----------+----------+----------+-----------+-------------+---------+-----------+--------+------+-----+-----------+-------+------+------+--------+-------------+---------+
|  1|        60|      RL|         65|   8450|  Pave|   NA|     Reg|        Lvl|   AllPub|   Inside|      Gtl|     CollgCr|      Norm|      Norm|    1Fam|    2Story|          7|          5|     2003|        2003|    Gable| CompShg|    VinylSd|    VinylSd|   BrkFace|       196|       Gd|       TA|     PConc|      Gd|      TA|          No|         GLQ|       706|         Unf|         0|      150|        856|   GasA|       Ex|         Y|     SBrkr|     856|     854|           0|     1710|           1|           0|       2|       1|           3|           1|         Gd|           8|       Typ|         0|         NA|    Attchd|       2003|         RFn|         2|       548|        TA|        TA|         Y|         0|         61|            0|        0|          0|       0|    NA|   NA|         NA|      0|     2|  2008|      WD|       Normal|   208500|
|  2|        20|      RL|         80|   9600|  Pave|   NA|     Reg|        Lvl|   AllPub|      FR2|      Gtl|     Veenker|     Feedr|      Norm|    1Fam|    1Story|          6|          8|     1976|        1976|    Gable| CompShg|    MetalSd|    MetalSd|      None|         0|       TA|       TA|    CBlock|      Gd|      TA|          Gd|         ALQ|       978|         Unf|         0|      284|       1262|   GasA|       Ex|         Y|     SBrkr|    1262|       0|           0|     1262|           0|           1|       2|       0|           3|           1|         TA|           6|       Typ|         1|         TA|    Attchd|       1976|         RFn|         2|       460|        TA|        TA|         Y|       298|          0|            0|        0|          0|       0|    NA|   NA|         NA|      0|     5|  2007|      WD|       Normal|   181500|
|  3|        60|      RL|         68|  11250|  Pave|   NA|     IR1|        Lvl|   AllPub|   Inside|      Gtl|     CollgCr|      Norm|      Norm|    1Fam|    2Story|          7|          5|     2001|        2002|    Gable| CompShg|    VinylSd|    VinylSd|   BrkFace|       162|       Gd|       TA|     PConc|      Gd|      TA|          Mn|         GLQ|       486|         Unf|         0|      434|        920|   GasA|       Ex|         Y|     SBrkr|     920|     866|           0|     1786|           1|           0|       2|       1|           3|           1|         Gd|           6|       Typ|         1|         TA|    Attchd|       2001|         RFn|         2|       608|        TA|        TA|         Y|         0|         42|            0|        0|          0|       0|    NA|   NA|         NA|      0|     9|  2008|      WD|       Normal|   223500|
|  4|        70|      RL|         60|   9550|  Pave|   NA|     IR1|        Lvl|   AllPub|   Corner|      Gtl|     Crawfor|      Norm|      Norm|    1Fam|    2Story|          7|          5|     1915|        1970|    Gable| CompShg|    Wd Sdng|    Wd Shng|      None|         0|       TA|       TA|    BrkTil|      TA|      Gd|          No|         ALQ|       216|         Unf|         0|      540|        756|   GasA|       Gd|         Y|     SBrkr|     961|     756|           0|     1717|           1|           0|       1|       0|           3|           1|         Gd|           7|       Typ|         1|         Gd|    Detchd|       1998|         Unf|         3|       642|        TA|        TA|         Y|         0|         35|          272|        0|          0|       0|    NA|   NA|         NA|      0|     2|  2006|      WD|      Abnorml|   140000|
|  5|        60|      RL|         84|  14260|  Pave|   NA|     IR1|        Lvl|   AllPub|      FR2|      Gtl|     NoRidge|      Norm|      Norm|    1Fam|    2Story|          8|          5|     2000|        2000|    Gable| CompShg|    VinylSd|    VinylSd|   BrkFace|       350|       Gd|       TA|     PConc|      Gd|      TA|          Av|         GLQ|       655|         Unf|         0|      490|       1145|   GasA|       Ex|         Y|     SBrkr|    1145|    1053|           0|     2198|           1|           0|       2|       1|           4|           1|         Gd|           9|       Typ|         1|         TA|    Attchd|       2000|         RFn|         3|       836|        TA|        TA|         Y|       192|         84|            0|        0|          0|       0|    NA|   NA|         NA|      0|    12|  2008|      WD|       Normal|   250000|
|  6|        50|      RL|         85|  14115|  Pave|   NA|     IR1|        Lvl|   AllPub|   Inside|      Gtl|     Mitchel|      Norm|      Norm|    1Fam|    1.5Fin|          5|          5|     1993|        1995|    Gable| CompShg|    VinylSd|    VinylSd|      None|         0|       TA|       TA|      Wood|      Gd|      TA|          No|         GLQ|       732|         Unf|         0|       64|        796|   GasA|       Ex|         Y|     SBrkr|     796|     566|           0|     1362|           1|           0|       1|       1|           1|           1|         TA|           5|       Typ|         0|         NA|    Attchd|       1993|         Unf|         2|       480|        TA|        TA|         Y|        40|         30|            0|      320|          0|       0|    NA|MnPrv|       Shed|    700|    10|  2009|      WD|       Normal|   143000|
|  7|        20|      RL|         75|  10084|  Pave|   NA|     Reg|        Lvl|   AllPub|   Inside|      Gtl|     Somerst|      Norm|      Norm|    1Fam|    1Story|          8|          5|     2004|        2005|    Gable| CompShg|    VinylSd|    VinylSd|     Stone|       186|       Gd|       TA|     PConc|      Ex|      TA|          Av|         GLQ|      1369|         Unf|         0|      317|       1686|   GasA|       Ex|         Y|     SBrkr|    1694|       0|           0|     1694|           1|           0|       2|       0|           3|           1|         Gd|           7|       Typ|         1|         Gd|    Attchd|       2004|         RFn|         2|       636|        TA|        TA|         Y|       255|         57|            0|        0|          0|       0|    NA|   NA|         NA|      0|     8|  2007|      WD|       Normal|   307000|
|  8|        60|      RL|         NA|  10382|  Pave|   NA|     IR1|        Lvl|   AllPub|   Corner|      Gtl|      NWAmes|      PosN|      Norm|    1Fam|    2Story|          7|          6|     1973|        1973|    Gable| CompShg|    HdBoard|    HdBoard|     Stone|       240|       TA|       TA|    CBlock|      Gd|      TA|          Mn|         ALQ|       859|         BLQ|        32|      216|       1107|   GasA|       Ex|         Y|     SBrkr|    1107|     983|           0|     2090|           1|           0|       2|       1|           3|           1|         TA|           7|       Typ|         2|         TA|    Attchd|       1973|         RFn|         2|       484|        TA|        TA|         Y|       235|        204|          228|        0|          0|       0|    NA|   NA|       Shed|    350|    11|  2009|      WD|       Normal|   200000|
|  9|        50|      RM|         51|   6120|  Pave|   NA|     Reg|        Lvl|   AllPub|   Inside|      Gtl|     OldTown|    Artery|      Norm|    1Fam|    1.5Fin|          7|          5|     1931|        1950|    Gable| CompShg|    BrkFace|    Wd Shng|      None|         0|       TA|       TA|    BrkTil|      TA|      TA|          No|         Unf|         0|         Unf|         0|      952|        952|   GasA|       Gd|         Y|     FuseF|    1022|     752|           0|     1774|           0|           0|       2|       0|           2|           2|         TA|           8|      Min1|         2|         TA|    Detchd|       1931|         Unf|         2|       468|        Fa|        TA|         Y|        90|          0|          205|        0|          0|       0|    NA|   NA|         NA|      0|     4|  2008|      WD|      Abnorml|   129900|
| 10|       190|      RL|         50|   7420|  Pave|   NA|     Reg|        Lvl|   AllPub|   Corner|      Gtl|     BrkSide|    Artery|    Artery|  2fmCon|    1.5Unf|          5|          6|     1939|        1950|    Gable| CompShg|    MetalSd|    MetalSd|      None|         0|       TA|       TA|    BrkTil|      TA|      TA|          No|         GLQ|       851|         Unf|         0|      140|        991|   GasA|       Ex|         Y|     SBrkr|    1077|       0|           0|     1077|           1|           0|       1|       0|           2|           2|         TA|           5|       Typ|         2|         TA|    Attchd|       1939|         RFn|         1|       205|        Gd|        TA|         Y|         0|          4|            0|        0|          0|       0|    NA|   NA|         NA|      0|     1|  2008|      WD|       Normal|   118000|
| 11|        20|      RL|         70|  11200|  Pave|   NA|     Reg|        Lvl|   AllPub|   Inside|      Gtl|      Sawyer|      Norm|      Norm|    1Fam|    1Story|          5|          5|     1965|        1965|      Hip| CompShg|    HdBoard|    HdBoard|      None|         0|       TA|       TA|    CBlock|      TA|      TA|          No|         Rec|       906|         Unf|         0|      134|       1040|   GasA|       Ex|         Y|     SBrkr|    1040|       0|           0|     1040|           1|           0|       1|       0|           3|           1|         TA|           5|       Typ|         0|         NA|    Detchd|       1965|         Unf|         1|       384|        TA|        TA|         Y|         0|          0|            0|        0|          0|       0|    NA|   NA|         NA|      0|     2|  2008|      WD|       Normal|   129500|
| 12|        60|      RL|         85|  11924|  Pave|   NA|     IR1|        Lvl|   AllPub|   Inside|      Gtl|     NridgHt|      Norm|      Norm|    1Fam|    2Story|          9|          5|     2005|        2006|      Hip| CompShg|    WdShing|    Wd Shng|     Stone|       286|       Ex|       TA|     PConc|      Ex|      TA|          No|         GLQ|       998|         Unf|         0|      177|       1175|   GasA|       Ex|         Y|     SBrkr|    1182|    1142|           0|     2324|           1|           0|       3|       0|           4|           1|         Ex|          11|       Typ|         2|         Gd|   BuiltIn|       2005|         Fin|         3|       736|        TA|        TA|         Y|       147|         21|            0|        0|          0|       0|    NA|   NA|         NA|      0|     7|  2006|     New|      Partial|   345000|
| 13|        20|      RL|         NA|  12968|  Pave|   NA|     IR2|        Lvl|   AllPub|   Inside|      Gtl|      Sawyer|      Norm|      Norm|    1Fam|    1Story|          5|          6|     1962|        1962|      Hip| CompShg|    HdBoard|    Plywood|      None|         0|       TA|       TA|    CBlock|      TA|      TA|          No|         ALQ|       737|         Unf|         0|      175|        912|   GasA|       TA|         Y|     SBrkr|     912|       0|           0|      912|           1|           0|       1|       0|           2|           1|         TA|           4|       Typ|         0|         NA|    Detchd|       1962|         Unf|         1|       352|        TA|        TA|         Y|       140|          0|            0|        0|        176|       0|    NA|   NA|         NA|      0|     9|  2008|      WD|       Normal|   144000|
| 14|        20|      RL|         91|  10652|  Pave|   NA|     IR1|        Lvl|   AllPub|   Inside|      Gtl|     CollgCr|      Norm|      Norm|    1Fam|    1Story|          7|          5|     2006|        2007|    Gable| CompShg|    VinylSd|    VinylSd|     Stone|       306|       Gd|       TA|     PConc|      Gd|      TA|          Av|         Unf|         0|         Unf|         0|     1494|       1494|   GasA|       Ex|         Y|     SBrkr|    1494|       0|           0|     1494|           0|           0|       2|       0|           3|           1|         Gd|           7|       Typ|         1|         Gd|    Attchd|       2006|         RFn|         3|       840|        TA|        TA|         Y|       160|         33|            0|        0|          0|       0|    NA|   NA|         NA|      0|     8|  2007|     New|      Partial|   279500|
| 15|        20|      RL|         NA|  10920|  Pave|   NA|     IR1|        Lvl|   AllPub|   Corner|      Gtl|       NAmes|      Norm|      Norm|    1Fam|    1Story|          6|          5|     1960|        1960|      Hip| CompShg|    MetalSd|    MetalSd|   BrkFace|       212|       TA|       TA|    CBlock|      TA|      TA|          No|         BLQ|       733|         Unf|         0|      520|       1253|   GasA|       TA|         Y|     SBrkr|    1253|       0|           0|     1253|           1|           0|       1|       1|           2|           1|         TA|           5|       Typ|         1|         Fa|    Attchd|       1960|         RFn|         1|       352|        TA|        TA|         Y|         0|        213|          176|        0|          0|       0|    NA| GdWo|         NA|      0|     5|  2008|      WD|       Normal|   157000|
| 16|        45|      RM|         51|   6120|  Pave|   NA|     Reg|        Lvl|   AllPub|   Corner|      Gtl|     BrkSide|      Norm|      Norm|    1Fam|    1.5Unf|          7|          8|     1929|        2001|    Gable| CompShg|    Wd Sdng|    Wd Sdng|      None|         0|       TA|       TA|    BrkTil|      TA|      TA|          No|         Unf|         0|         Unf|         0|      832|        832|   GasA|       Ex|         Y|     FuseA|     854|       0|           0|      854|           0|           0|       1|       0|           2|           1|         TA|           5|       Typ|         0|         NA|    Detchd|       1991|         Unf|         2|       576|        TA|        TA|         Y|        48|        112|            0|        0|          0|       0|    NA|GdPrv|         NA|      0|     7|  2007|      WD|       Normal|   132000|
| 17|        20|      RL|         NA|  11241|  Pave|   NA|     IR1|        Lvl|   AllPub|  CulDSac|      Gtl|       NAmes|      Norm|      Norm|    1Fam|    1Story|          6|          7|     1970|        1970|    Gable| CompShg|    Wd Sdng|    Wd Sdng|   BrkFace|       180|       TA|       TA|    CBlock|      TA|      TA|          No|         ALQ|       578|         Unf|         0|      426|       1004|   GasA|       Ex|         Y|     SBrkr|    1004|       0|           0|     1004|           1|           0|       1|       0|           2|           1|         TA|           5|       Typ|         1|         TA|    Attchd|       1970|         Fin|         2|       480|        TA|        TA|         Y|         0|          0|            0|        0|          0|       0|    NA|   NA|       Shed|    700|     3|  2010|      WD|       Normal|   149000|
| 18|        90|      RL|         72|  10791|  Pave|   NA|     Reg|        Lvl|   AllPub|   Inside|      Gtl|      Sawyer|      Norm|      Norm|  Duplex|    1Story|          4|          5|     1967|        1967|    Gable| CompShg|    MetalSd|    MetalSd|      None|         0|       TA|       TA|      Slab|      NA|      NA|          NA|          NA|         0|          NA|         0|        0|          0|   GasA|       TA|         Y|     SBrkr|    1296|       0|           0|     1296|           0|           0|       2|       0|           2|           2|         TA|           6|       Typ|         0|         NA|   CarPort|       1967|         Unf|         2|       516|        TA|        TA|         Y|         0|          0|            0|        0|          0|       0|    NA|   NA|       Shed|    500|    10|  2006|      WD|       Normal|    90000|
| 19|        20|      RL|         66|  13695|  Pave|   NA|     Reg|        Lvl|   AllPub|   Inside|      Gtl|     SawyerW|      RRAe|      Norm|    1Fam|    1Story|          5|          5|     2004|        2004|    Gable| CompShg|    VinylSd|    VinylSd|      None|         0|       TA|       TA|     PConc|      TA|      TA|          No|         GLQ|       646|         Unf|         0|      468|       1114|   GasA|       Ex|         Y|     SBrkr|    1114|       0|           0|     1114|           1|           0|       1|       1|           3|           1|         Gd|           6|       Typ|         0|         NA|    Detchd|       2004|         Unf|         2|       576|        TA|        TA|         Y|         0|        102|            0|        0|          0|       0|    NA|   NA|         NA|      0|     6|  2008|      WD|       Normal|   159000|
| 20|        20|      RL|         70|   7560|  Pave|   NA|     Reg|        Lvl|   AllPub|   Inside|      Gtl|       NAmes|      Norm|      Norm|    1Fam|    1Story|          5|          6|     1958|        1965|      Hip| CompShg|    BrkFace|    Plywood|      None|         0|       TA|       TA|    CBlock|      TA|      TA|          No|         LwQ|       504|         Unf|         0|      525|       1029|   GasA|       TA|         Y|     SBrkr|    1339|       0|           0|     1339|           0|           0|       1|       0|           3|           1|         TA|           6|      Min1|         0|         NA|    Attchd|       1958|         Unf|         1|       294|        TA|        TA|         Y|         0|          0|            0|        0|          0|       0|    NA|MnPrv|         NA|      0|     5|  2009|     COD|      Abnorml|   139000|

In [19]:
df.toPandas().head(20)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65,8450,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,2,2008,WD,Normal,208500
1,2,20,RL,80,9600,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,5,2007,WD,Normal,181500
2,3,60,RL,68,11250,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,9,2008,WD,Normal,223500
3,4,70,RL,60,9550,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84,14260,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,12,2008,WD,Normal,250000
5,6,50,RL,85,14115,Pave,NA,IR1,Lvl,AllPub,...,0,NA,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75,10084,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,8,2007,WD,Normal,307000
7,8,60,RL,NA,10382,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51,6120,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50,7420,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,1,2008,WD,Normal,118000
10,11,20,RL,70,11200,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,2,2008,WD,Normal,129500
11,12,60,RL,85,11924,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,7,2006,New,Partial,345000
12,13,20,RL,NA,12968,Pave,NA,IR2,Lvl,AllPub,...,0,NA,NA,NA,0,9,2008,WD,Normal,144000
13,14,20,RL,91,10652,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,8,2007,New,Partial,279500
14,15,20,RL,NA,10920,Pave,NA,IR1,Lvl,AllPub,...,0,NA,GdWo,NA,0,5,2008,WD,Normal,157000
15,16,45,RM,51,6120,Pave,NA,Reg,Lvl,AllPub,...,0,NA,GdPrv,NA,0,7,2007,WD,Normal,132000
16,17,20,RL,NA,11241,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,Shed,700,3,2010,WD,Normal,149000
17,18,90,RL,72,10791,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,Shed,500,10,2006,WD,Normal,90000
18,19,20,RL,66,13695,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,6,2008,WD,Normal,159000
19,20,20,RL,70,7560,Pave,NA,Reg,Lvl,AllPub,...,0,NA,MnPrv,NA,0,5,2009,COD,Abnorml,139000

In [20]:
df.select('KitchenQual','GarageType').where('SalePrice>=129500').where('GarageArea >= 484').show()

+-----------+----------+
|KitchenQual|GarageType|
+-----------+----------+
|         Gd|    Attchd|
|         Gd|    Attchd|
|         Gd|    Detchd|
|         Gd|    Attchd|
|         Gd|    Attchd|
|         TA|    Attchd|
|         Ex|   BuiltIn|
|         Gd|    Attchd|
|         TA|    Detchd|
|         Gd|    Detchd|
|         Gd|   BuiltIn|
|         Gd|    Attchd|
|         TA|    Attchd|
|         Gd|    Attchd|
|         Gd|    Detchd|
|         Gd|    Attchd|
|         Gd|    Attchd|
|         Ex|    Attchd|
|         Gd|   BuiltIn|
|         TA|    Attchd|
+-----------+----------+
only showing top 20 rows

In [21]:
df.agg({'SalePrice':'sum'}).show(1,False)

+--------------+
|sum(SalePrice)|
+--------------+
|2.64144946E8  |
+--------------+

In [22]:
df.agg({'SalePrice':'sum','GarageArea':'max'}).show()

+---------------+--------------+
|max(GarageArea)|sum(SalePrice)|
+---------------+--------------+
|            995|  2.64144946E8|
+---------------+--------------+

In [23]:
df.select('SalePrice').where(col('GarageType')=='Attchd').show()

+---------+
|SalePrice|
+---------+
|   208500|
|   181500|
|   223500|
|   250000|
|   143000|
|   307000|
|   200000|
|   118000|
|   279500|
|   157000|
|   149000|
|   139000|
|   139400|
|   230000|
|   129900|
|   154000|
|   256300|
|   306000|
|   207500|
|   149350|
+---------+
only showing top 20 rows

In [24]:
df=df.withColumn('Half Of The SalePrice',df['SalePrice']*0.5)

In [172]:
df.limit(5).toPandas()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Half Of The SalePrice,Double Of The Price
0,1,60,RL,65,8450,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,2,2008,WD,Normal,208500,104250.0,417000.0
1,2,20,RL,80,9600,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,5,2007,WD,Normal,181500,90750.0,363000.0
2,3,60,RL,68,11250,Pave,NA,IR1,Lvl,AllPub,...,NA,NA,0,9,2008,WD,Normal,223500,111750.0,447000.0
3,4,70,RL,60,9550,Pave,NA,IR1,Lvl,AllPub,...,NA,NA,0,2,2006,WD,Abnorml,140000,70000.0,280000.0
4,5,60,RL,84,14260,Pave,NA,IR1,Lvl,AllPub,...,NA,NA,0,12,2008,WD,Normal,250000,125000.0,500000.0

In [27]:
df.head(3)

[Row(Id='1', MSSubClass='60', MSZoning='RL', LotFrontage='65', LotArea='8450', Street='Pave', Alley='NA', LotShape='Reg', LandContour='Lvl', Utilities='AllPub', LotConfig='Inside', LandSlope='Gtl', Neighborhood='CollgCr', Condition1='Norm', Condition2='Norm', BldgType='1Fam', HouseStyle='2Story', OverallQual='7', OverallCond='5', YearBuilt='2003', YearRemodAdd='2003', RoofStyle='Gable', RoofMatl='CompShg', Exterior1st='VinylSd', Exterior2nd='VinylSd', MasVnrType='BrkFace', MasVnrArea='196', ExterQual='Gd', ExterCond='TA', Foundation='PConc', BsmtQual='Gd', BsmtCond='TA', BsmtExposure='No', BsmtFinType1='GLQ', BsmtFinSF1='706', BsmtFinType2='Unf', BsmtFinSF2='0', BsmtUnfSF='150', TotalBsmtSF='856', Heating='GasA', HeatingQC='Ex', CentralAir='Y', Electrical='SBrkr', 1stFlrSF='856', 2ndFlrSF='854', LowQualFinSF='0', GrLivArea='1710', BsmtFullBath='1', BsmtHalfBath='0', FullBath='2', HalfBath='1', BedroomAbvGr='3', KitchenAbvGr='1', KitchenQual='Gd', TotRmsAbvGrd='8', Functional='Typ', Fireplaces='0', FireplaceQu='NA', GarageType='Attchd', GarageYrBlt='2003', GarageFinish='RFn', GarageCars='2', GarageArea='548', GarageQual='TA', GarageCond='TA', PavedDrive='Y', WoodDeckSF='0', OpenPorchSF='61', EnclosedPorch='0', 3SsnPorch='0', ScreenPorch='0', PoolArea='0', PoolQC='NA', Fence='NA', MiscFeature='NA', MiscVal='0', MoSold='2', YrSold='2008', SaleType='WD', SaleCondition='Normal', SalePrice='208500', Half Of The SalePrice=104250.0),
 Row(Id='2', MSSubClass='20', MSZoning='RL', LotFrontage='80', LotArea='9600', Street='Pave', Alley='NA', LotShape='Reg', LandContour='Lvl', Utilities='AllPub', LotConfig='FR2', LandSlope='Gtl', Neighborhood='Veenker', Condition1='Feedr', Condition2='Norm', BldgType='1Fam', HouseStyle='1Story', OverallQual='6', OverallCond='8', YearBuilt='1976', YearRemodAdd='1976', RoofStyle='Gable', RoofMatl='CompShg', Exterior1st='MetalSd', Exterior2nd='MetalSd', MasVnrType='None', MasVnrArea='0', ExterQual='TA', ExterCond='TA', Foundation='CBlock', BsmtQual='Gd', BsmtCond='TA', BsmtExposure='Gd', BsmtFinType1='ALQ', BsmtFinSF1='978', BsmtFinType2='Unf', BsmtFinSF2='0', BsmtUnfSF='284', TotalBsmtSF='1262', Heating='GasA', HeatingQC='Ex', CentralAir='Y', Electrical='SBrkr', 1stFlrSF='1262', 2ndFlrSF='0', LowQualFinSF='0', GrLivArea='1262', BsmtFullBath='0', BsmtHalfBath='1', FullBath='2', HalfBath='0', BedroomAbvGr='3', KitchenAbvGr='1', KitchenQual='TA', TotRmsAbvGrd='6', Functional='Typ', Fireplaces='1', FireplaceQu='TA', GarageType='Attchd', GarageYrBlt='1976', GarageFinish='RFn', GarageCars='2', GarageArea='460', GarageQual='TA', GarageCond='TA', PavedDrive='Y', WoodDeckSF='298', OpenPorchSF='0', EnclosedPorch='0', 3SsnPorch='0', ScreenPorch='0', PoolArea='0', PoolQC='NA', Fence='NA', MiscFeature='NA', MiscVal='0', MoSold='5', YrSold='2007', SaleType='WD', SaleCondition='Normal', SalePrice='181500', Half Of The SalePrice=90750.0),
 Row(Id='3', MSSubClass='60', MSZoning='RL', LotFrontage='68', LotArea='11250', Street='Pave', Alley='NA', LotShape='IR1', LandContour='Lvl', Utilities='AllPub', LotConfig='Inside', LandSlope='Gtl', Neighborhood='CollgCr', Condition1='Norm', Condition2='Norm', BldgType='1Fam', HouseStyle='2Story', OverallQual='7', OverallCond='5', YearBuilt='2001', YearRemodAdd='2002', RoofStyle='Gable', RoofMatl='CompShg', Exterior1st='VinylSd', Exterior2nd='VinylSd', MasVnrType='BrkFace', MasVnrArea='162', ExterQual='Gd', ExterCond='TA', Foundation='PConc', BsmtQual='Gd', BsmtCond='TA', BsmtExposure='Mn', BsmtFinType1='GLQ', BsmtFinSF1='486', BsmtFinType2='Unf', BsmtFinSF2='0', BsmtUnfSF='434', TotalBsmtSF='920', Heating='GasA', HeatingQC='Ex', CentralAir='Y', Electrical='SBrkr', 1stFlrSF='920', 2ndFlrSF='866', LowQualFinSF='0', GrLivArea='1786', BsmtFullBath='1', BsmtHalfBath='0', FullBath='2', HalfBath='1', BedroomAbvGr='3', KitchenAbvGr='1', KitchenQual='Gd', TotRmsAbvGrd='6', Functional='Typ', Fireplaces='1', FireplaceQu='TA', GarageType='Attchd', GarageYrBlt='2001', GarageFinish='RFn', GarageCars='2', GarageArea='608', GarageQual='TA', GarageCond='TA', PavedDrive='Y', WoodDeckSF='0', OpenPorchSF='42', EnclosedPorch='0', 3SsnPorch='0', ScreenPorch='0', PoolArea='0', PoolQC='NA', Fence='NA', MiscFeature='NA', MiscVal='0', MoSold='9', YrSold='2008', SaleType='WD', SaleCondition='Normal', SalePrice='223500', Half Of The SalePrice=111750.0)]

In [28]:
df.select(['SaleCondition','SalePrice','YrSold']).show()

+-------------+---------+------+
|SaleCondition|SalePrice|YrSold|
+-------------+---------+------+
|       Normal|   208500|  2008|
|       Normal|   181500|  2007|
|       Normal|   223500|  2008|
|      Abnorml|   140000|  2006|
|       Normal|   250000|  2008|
|       Normal|   143000|  2009|
|       Normal|   307000|  2007|
|       Normal|   200000|  2009|
|      Abnorml|   129900|  2008|
|       Normal|   118000|  2008|
|       Normal|   129500|  2008|
|      Partial|   345000|  2006|
|       Normal|   144000|  2008|
|      Partial|   279500|  2007|
|       Normal|   157000|  2008|
|       Normal|   132000|  2007|
|       Normal|   149000|  2010|
|       Normal|    90000|  2006|
|       Normal|   159000|  2008|
|      Abnorml|   139000|  2009|
+-------------+---------+------+
only showing top 20 rows

In [29]:
df.dtypes

[('Id', 'string'),
 ('MSSubClass', 'string'),
 ('MSZoning', 'string'),
 ('LotFrontage', 'string'),
 ('LotArea', 'string'),
 ('Street', 'string'),
 ('Alley', 'string'),
 ('LotShape', 'string'),
 ('LandContour', 'string'),
 ('Utilities', 'string'),
 ('LotConfig', 'string'),
 ('LandSlope', 'string'),
 ('Neighborhood', 'string'),
 ('Condition1', 'string'),
 ('Condition2', 'string'),
 ('BldgType', 'string'),
 ('HouseStyle', 'string'),
 ('OverallQual', 'string'),
 ('OverallCond', 'string'),
 ('YearBuilt', 'string'),
 ('YearRemodAdd', 'string'),
 ('RoofStyle', 'string'),
 ('RoofMatl', 'string'),
 ('Exterior1st', 'string'),
 ('Exterior2nd', 'string'),
 ('MasVnrType', 'string'),
 ('MasVnrArea', 'string'),
 ('ExterQual', 'string'),
 ('ExterCond', 'string'),
 ('Foundation', 'string'),
 ('BsmtQual', 'string'),
 ('BsmtCond', 'string'),
 ('BsmtExposure', 'string'),
 ('BsmtFinType1', 'string'),
 ('BsmtFinSF1', 'string'),
 ('BsmtFinType2', 'string'),
 ('BsmtFinSF2', 'string'),
 ('BsmtUnfSF', 'string'),
 ('TotalBsmtSF', 'string'),
 ('Heating', 'string'),
 ('HeatingQC', 'string'),
 ('CentralAir', 'string'),
 ('Electrical', 'string'),
 ('1stFlrSF', 'string'),
 ('2ndFlrSF', 'string'),
 ('LowQualFinSF', 'string'),
 ('GrLivArea', 'string'),
 ('BsmtFullBath', 'string'),
 ('BsmtHalfBath', 'string'),
 ('FullBath', 'string'),
 ('HalfBath', 'string'),
 ('BedroomAbvGr', 'string'),
 ('KitchenAbvGr', 'string'),
 ('KitchenQual', 'string'),
 ('TotRmsAbvGrd', 'string'),
 ('Functional', 'string'),
 ('Fireplaces', 'string'),
 ('FireplaceQu', 'string'),
 ('GarageType', 'string'),
 ('GarageYrBlt', 'string'),
 ('GarageFinish', 'string'),
 ('GarageCars', 'string'),
 ('GarageArea', 'string'),
 ('GarageQual', 'string'),
 ('GarageCond', 'string'),
 ('PavedDrive', 'string'),
 ('WoodDeckSF', 'string'),
 ('OpenPorchSF', 'string'),
 ('EnclosedPorch', 'string'),
 ('3SsnPorch', 'string'),
 ('ScreenPorch', 'string'),
 ('PoolArea', 'string'),
 ('PoolQC', 'string'),
 ('Fence', 'string'),
 ('MiscFeature', 'string'),
 ('MiscVal', 'string'),
 ('MoSold', 'string'),
 ('YrSold', 'string'),
 ('SaleType', 'string'),
 ('SaleCondition', 'string'),
 ('SalePrice', 'string'),
 ('Half Of The SalePrice', 'double')]

In [30]:
df['SalePrice']

Column<'SalePrice'>

In [31]:
### Adding Columns in data frame
df=df.withColumn('Double Of The Price',df['SalePrice']*2)

In [32]:
df.toPandas().head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Half Of The SalePrice,Double Of The Price
0,1,60,RL,65,8450,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,2,2008,WD,Normal,208500,104250.0,417000.0
1,2,20,RL,80,9600,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,5,2007,WD,Normal,181500,90750.0,363000.0
2,3,60,RL,68,11250,Pave,NA,IR1,Lvl,AllPub,...,NA,NA,0,9,2008,WD,Normal,223500,111750.0,447000.0
3,4,70,RL,60,9550,Pave,NA,IR1,Lvl,AllPub,...,NA,NA,0,2,2006,WD,Abnorml,140000,70000.0,280000.0
4,5,60,RL,84,14260,Pave,NA,IR1,Lvl,AllPub,...,NA,NA,0,12,2008,WD,Normal,250000,125000.0,500000.0

In [173]:
### Rename the columns
df1=df.withColumnRenamed('YrSold','YearSold').limit(10).toPandas()

In [174]:
df1

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,Fence,MiscFeature,MiscVal,MoSold,YearSold,SaleType,SaleCondition,SalePrice,Half Of The SalePrice,Double Of The Price
0,1,60,RL,65,8450,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,2,2008,WD,Normal,208500,104250.0,417000.0
1,2,20,RL,80,9600,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,5,2007,WD,Normal,181500,90750.0,363000.0
2,3,60,RL,68,11250,Pave,NA,IR1,Lvl,AllPub,...,NA,NA,0,9,2008,WD,Normal,223500,111750.0,447000.0
3,4,70,RL,60,9550,Pave,NA,IR1,Lvl,AllPub,...,NA,NA,0,2,2006,WD,Abnorml,140000,70000.0,280000.0
4,5,60,RL,84,14260,Pave,NA,IR1,Lvl,AllPub,...,NA,NA,0,12,2008,WD,Normal,250000,125000.0,500000.0
5,6,50,RL,85,14115,Pave,NA,IR1,Lvl,AllPub,...,MnPrv,Shed,700,10,2009,WD,Normal,143000,71500.0,286000.0
6,7,20,RL,75,10084,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,8,2007,WD,Normal,307000,153500.0,614000.0
7,8,60,RL,NA,10382,Pave,NA,IR1,Lvl,AllPub,...,NA,Shed,350,11,2009,WD,Normal,200000,100000.0,400000.0
8,9,50,RM,51,6120,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,4,2008,WD,Abnorml,129900,64950.0,259800.0
9,10,190,RL,50,7420,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,1,2008,WD,Normal,118000,59000.0,236000.0

In [36]:
df.printSchema()

root
 |-- Id: string (nullable = true)
 |-- MSSubClass: string (nullable = true)
 |-- MSZoning: string (nullable = true)
 |-- LotFrontage: string (nullable = true)
 |-- LotArea: string (nullable = true)
 |-- Street: string (nullable = true)
 |-- Alley: string (nullable = true)
 |-- LotShape: string (nullable = true)
 |-- LandContour: string (nullable = true)
 |-- Utilities: string (nullable = true)
 |-- LotConfig: string (nullable = true)
 |-- LandSlope: string (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Condition1: string (nullable = true)
 |-- Condition2: string (nullable = true)
 |-- BldgType: string (nullable = true)
 |-- HouseStyle: string (nullable = true)
 |-- OverallQual: string (nullable = true)
 |-- OverallCond: string (nullable = true)
 |-- YearBuilt: string (nullable = true)
 |-- YearRemodAdd: string (nullable = true)
 |-- RoofStyle: string (nullable = true)
 |-- RoofMatl: string (nullable = true)
 |-- Exterior1st: string (nullable = true)
 |-- Exterior2nd: string (nullable = true)
 |-- MasVnrType: string (nullable = true)
 |-- MasVnrArea: string (nullable = true)
 |-- ExterQual: string (nullable = true)
 |-- ExterCond: string (nullable = true)
 |-- Foundation: string (nullable = true)
 |-- BsmtQual: string (nullable = true)
 |-- BsmtCond: string (nullable = true)
 |-- BsmtExposure: string (nullable = true)
 |-- BsmtFinType1: string (nullable = true)
 |-- BsmtFinSF1: string (nullable = true)
 |-- BsmtFinType2: string (nullable = true)
 |-- BsmtFinSF2: string (nullable = true)
 |-- BsmtUnfSF: string (nullable = true)
 |-- TotalBsmtSF: string (nullable = true)
 |-- Heating: string (nullable = true)
 |-- HeatingQC: string (nullable = true)
 |-- CentralAir: string (nullable = true)
 |-- Electrical: string (nullable = true)
 |-- 1stFlrSF: string (nullable = true)
 |-- 2ndFlrSF: string (nullable = true)
 |-- LowQualFinSF: string (nullable = true)
 |-- GrLivArea: string (nullable = true)
 |-- BsmtFullBath: string (nullable = true)
 |-- BsmtHalfBath: string (nullable = true)
 |-- FullBath: string (nullable = true)
 |-- HalfBath: string (nullable = true)
 |-- BedroomAbvGr: string (nullable = true)
 |-- KitchenAbvGr: string (nullable = true)
 |-- KitchenQual: string (nullable = true)
 |-- TotRmsAbvGrd: string (nullable = true)
 |-- Functional: string (nullable = true)
 |-- Fireplaces: string (nullable = true)
 |-- FireplaceQu: string (nullable = true)
 |-- GarageType: string (nullable = true)
 |-- GarageYrBlt: string (nullable = true)
 |-- GarageFinish: string (nullable = true)
 |-- GarageCars: string (nullable = true)
 |-- GarageArea: string (nullable = true)
 |-- GarageQual: string (nullable = true)
 |-- GarageCond: string (nullable = true)
 |-- PavedDrive: string (nullable = true)
 |-- WoodDeckSF: string (nullable = true)
 |-- OpenPorchSF: string (nullable = true)
 |-- EnclosedPorch: string (nullable = true)
 |-- 3SsnPorch: string (nullable = true)
 |-- ScreenPorch: string (nullable = true)
 |-- PoolArea: string (nullable = true)
 |-- PoolQC: string (nullable = true)
 |-- Fence: string (nullable = true)
 |-- MiscFeature: string (nullable = true)
 |-- MiscVal: string (nullable = true)
 |-- MoSold: string (nullable = true)
 |-- YrSold: string (nullable = true)
 |-- SaleType: string (nullable = true)
 |-- SaleCondition: string (nullable = true)
 |-- SalePrice: string (nullable = true)
 |-- Half Of The SalePrice: double (nullable = true)
 |-- Double Of The Price: double (nullable = true)

In [175]:
df.limit(10).toPandas()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Half Of The SalePrice,Double Of The Price
0,1,60,RL,65,8450,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,2,2008,WD,Normal,208500,104250.0,417000.0
1,2,20,RL,80,9600,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,5,2007,WD,Normal,181500,90750.0,363000.0
2,3,60,RL,68,11250,Pave,NA,IR1,Lvl,AllPub,...,NA,NA,0,9,2008,WD,Normal,223500,111750.0,447000.0
3,4,70,RL,60,9550,Pave,NA,IR1,Lvl,AllPub,...,NA,NA,0,2,2006,WD,Abnorml,140000,70000.0,280000.0
4,5,60,RL,84,14260,Pave,NA,IR1,Lvl,AllPub,...,NA,NA,0,12,2008,WD,Normal,250000,125000.0,500000.0
5,6,50,RL,85,14115,Pave,NA,IR1,Lvl,AllPub,...,MnPrv,Shed,700,10,2009,WD,Normal,143000,71500.0,286000.0
6,7,20,RL,75,10084,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,8,2007,WD,Normal,307000,153500.0,614000.0
7,8,60,RL,NA,10382,Pave,NA,IR1,Lvl,AllPub,...,NA,Shed,350,11,2009,WD,Normal,200000,100000.0,400000.0
8,9,50,RM,51,6120,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,4,2008,WD,Abnorml,129900,64950.0,259800.0
9,10,190,RL,50,7420,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,1,2008,WD,Normal,118000,59000.0,236000.0

In [182]:
##drop the columns
df2=df.drop('Street')

In [183]:
df2.limit(10).toPandas()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Alley,LotShape,LandContour,Utilities,LotConfig,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Half Of The SalePrice,Double Of The Price
0,1,60,RL,65,8450,NA,Reg,Lvl,AllPub,Inside,...,NA,NA,0,2,2008,WD,Normal,208500,104250.0,417000.0
1,2,20,RL,80,9600,NA,Reg,Lvl,AllPub,FR2,...,NA,NA,0,5,2007,WD,Normal,181500,90750.0,363000.0
2,3,60,RL,68,11250,NA,IR1,Lvl,AllPub,Inside,...,NA,NA,0,9,2008,WD,Normal,223500,111750.0,447000.0
3,4,70,RL,60,9550,NA,IR1,Lvl,AllPub,Corner,...,NA,NA,0,2,2006,WD,Abnorml,140000,70000.0,280000.0
4,5,60,RL,84,14260,NA,IR1,Lvl,AllPub,FR2,...,NA,NA,0,12,2008,WD,Normal,250000,125000.0,500000.0
5,6,50,RL,85,14115,NA,IR1,Lvl,AllPub,Inside,...,MnPrv,Shed,700,10,2009,WD,Normal,143000,71500.0,286000.0
6,7,20,RL,75,10084,NA,Reg,Lvl,AllPub,Inside,...,NA,NA,0,8,2007,WD,Normal,307000,153500.0,614000.0
7,8,60,RL,NA,10382,NA,IR1,Lvl,AllPub,Corner,...,NA,Shed,350,11,2009,WD,Normal,200000,100000.0,400000.0
8,9,50,RM,51,6120,NA,Reg,Lvl,AllPub,Inside,...,NA,NA,0,4,2008,WD,Abnorml,129900,64950.0,259800.0
9,10,190,RL,50,7420,NA,Reg,Lvl,AllPub,Corner,...,NA,NA,0,1,2008,WD,Normal,118000,59000.0,236000.0

In [185]:
df2.count()

1460

In [186]:
df2.columns

['Id',
 'MSSubClass',
 'MSZoning',
 'LotFrontage',
 'LotArea',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'OverallQual',
 'OverallCond',
 'YearBuilt',
 'YearRemodAdd',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'MasVnrArea',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinSF1',
 'BsmtFinType2',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'BsmtFullBath',
 'BsmtHalfBath',
 'FullBath',
 'HalfBath',
 'BedroomAbvGr',
 'KitchenAbvGr',
 'KitchenQual',
 'TotRmsAbvGrd',
 'Functional',
 'Fireplaces',
 'FireplaceQu',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageCars',
 'GarageArea',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'MiscVal',
 'MoSold',
 'YrSold',
 'SaleType',
 'SaleCondition',
 'SalePrice',
 'Half Of The SalePrice',
 'Double Of The Price']

# PART - II

## Handling Missing Values in PySpark

In [187]:
df3=df2.na.drop()

In [188]:
df3.limit(10).toPandas()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Alley,LotShape,LandContour,Utilities,LotConfig,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Half Of The SalePrice,Double Of The Price
0,1,60,RL,65,8450,NA,Reg,Lvl,AllPub,Inside,...,NA,NA,0,2,2008,WD,Normal,208500,104250.0,417000.0
1,2,20,RL,80,9600,NA,Reg,Lvl,AllPub,FR2,...,NA,NA,0,5,2007,WD,Normal,181500,90750.0,363000.0
2,3,60,RL,68,11250,NA,IR1,Lvl,AllPub,Inside,...,NA,NA,0,9,2008,WD,Normal,223500,111750.0,447000.0
3,4,70,RL,60,9550,NA,IR1,Lvl,AllPub,Corner,...,NA,NA,0,2,2006,WD,Abnorml,140000,70000.0,280000.0
4,5,60,RL,84,14260,NA,IR1,Lvl,AllPub,FR2,...,NA,NA,0,12,2008,WD,Normal,250000,125000.0,500000.0
5,6,50,RL,85,14115,NA,IR1,Lvl,AllPub,Inside,...,MnPrv,Shed,700,10,2009,WD,Normal,143000,71500.0,286000.0
6,7,20,RL,75,10084,NA,Reg,Lvl,AllPub,Inside,...,NA,NA,0,8,2007,WD,Normal,307000,153500.0,614000.0
7,8,60,RL,NA,10382,NA,IR1,Lvl,AllPub,Corner,...,NA,Shed,350,11,2009,WD,Normal,200000,100000.0,400000.0
8,9,50,RM,51,6120,NA,Reg,Lvl,AllPub,Inside,...,NA,NA,0,4,2008,WD,Abnorml,129900,64950.0,259800.0
9,10,190,RL,50,7420,NA,Reg,Lvl,AllPub,Corner,...,NA,NA,0,1,2008,WD,Normal,118000,59000.0,236000.0

In [189]:
df3.count()

1460

In [190]:
### any==how
df3.na.drop(how="any").limit(10).toPandas()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Alley,LotShape,LandContour,Utilities,LotConfig,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Half Of The SalePrice,Double Of The Price
0,1,60,RL,65,8450,NA,Reg,Lvl,AllPub,Inside,...,NA,NA,0,2,2008,WD,Normal,208500,104250.0,417000.0
1,2,20,RL,80,9600,NA,Reg,Lvl,AllPub,FR2,...,NA,NA,0,5,2007,WD,Normal,181500,90750.0,363000.0
2,3,60,RL,68,11250,NA,IR1,Lvl,AllPub,Inside,...,NA,NA,0,9,2008,WD,Normal,223500,111750.0,447000.0
3,4,70,RL,60,9550,NA,IR1,Lvl,AllPub,Corner,...,NA,NA,0,2,2006,WD,Abnorml,140000,70000.0,280000.0
4,5,60,RL,84,14260,NA,IR1,Lvl,AllPub,FR2,...,NA,NA,0,12,2008,WD,Normal,250000,125000.0,500000.0
5,6,50,RL,85,14115,NA,IR1,Lvl,AllPub,Inside,...,MnPrv,Shed,700,10,2009,WD,Normal,143000,71500.0,286000.0
6,7,20,RL,75,10084,NA,Reg,Lvl,AllPub,Inside,...,NA,NA,0,8,2007,WD,Normal,307000,153500.0,614000.0
7,8,60,RL,NA,10382,NA,IR1,Lvl,AllPub,Corner,...,NA,Shed,350,11,2009,WD,Normal,200000,100000.0,400000.0
8,9,50,RM,51,6120,NA,Reg,Lvl,AllPub,Inside,...,NA,NA,0,4,2008,WD,Abnorml,129900,64950.0,259800.0
9,10,190,RL,50,7420,NA,Reg,Lvl,AllPub,Corner,...,NA,NA,0,1,2008,WD,Normal,118000,59000.0,236000.0

In [191]:
##threshold
df3.na.drop(how="any",thresh=3).limit(10).toPandas()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Alley,LotShape,LandContour,Utilities,LotConfig,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Half Of The SalePrice,Double Of The Price
0,1,60,RL,65,8450,NA,Reg,Lvl,AllPub,Inside,...,NA,NA,0,2,2008,WD,Normal,208500,104250.0,417000.0
1,2,20,RL,80,9600,NA,Reg,Lvl,AllPub,FR2,...,NA,NA,0,5,2007,WD,Normal,181500,90750.0,363000.0
2,3,60,RL,68,11250,NA,IR1,Lvl,AllPub,Inside,...,NA,NA,0,9,2008,WD,Normal,223500,111750.0,447000.0
3,4,70,RL,60,9550,NA,IR1,Lvl,AllPub,Corner,...,NA,NA,0,2,2006,WD,Abnorml,140000,70000.0,280000.0
4,5,60,RL,84,14260,NA,IR1,Lvl,AllPub,FR2,...,NA,NA,0,12,2008,WD,Normal,250000,125000.0,500000.0
5,6,50,RL,85,14115,NA,IR1,Lvl,AllPub,Inside,...,MnPrv,Shed,700,10,2009,WD,Normal,143000,71500.0,286000.0
6,7,20,RL,75,10084,NA,Reg,Lvl,AllPub,Inside,...,NA,NA,0,8,2007,WD,Normal,307000,153500.0,614000.0
7,8,60,RL,NA,10382,NA,IR1,Lvl,AllPub,Corner,...,NA,Shed,350,11,2009,WD,Normal,200000,100000.0,400000.0
8,9,50,RM,51,6120,NA,Reg,Lvl,AllPub,Inside,...,NA,NA,0,4,2008,WD,Abnorml,129900,64950.0,259800.0
9,10,190,RL,50,7420,NA,Reg,Lvl,AllPub,Corner,...,NA,NA,0,1,2008,WD,Normal,118000,59000.0,236000.0

In [192]:
##Subset
df.na.drop(how="any",subset=['SalePrice']).limit(10).toPandas()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Half Of The SalePrice,Double Of The Price
0,1,60,RL,65,8450,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,2,2008,WD,Normal,208500,104250.0,417000.0
1,2,20,RL,80,9600,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,5,2007,WD,Normal,181500,90750.0,363000.0
2,3,60,RL,68,11250,Pave,NA,IR1,Lvl,AllPub,...,NA,NA,0,9,2008,WD,Normal,223500,111750.0,447000.0
3,4,70,RL,60,9550,Pave,NA,IR1,Lvl,AllPub,...,NA,NA,0,2,2006,WD,Abnorml,140000,70000.0,280000.0
4,5,60,RL,84,14260,Pave,NA,IR1,Lvl,AllPub,...,NA,NA,0,12,2008,WD,Normal,250000,125000.0,500000.0
5,6,50,RL,85,14115,Pave,NA,IR1,Lvl,AllPub,...,MnPrv,Shed,700,10,2009,WD,Normal,143000,71500.0,286000.0
6,7,20,RL,75,10084,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,8,2007,WD,Normal,307000,153500.0,614000.0
7,8,60,RL,NA,10382,Pave,NA,IR1,Lvl,AllPub,...,NA,Shed,350,11,2009,WD,Normal,200000,100000.0,400000.0
8,9,50,RM,51,6120,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,4,2008,WD,Abnorml,129900,64950.0,259800.0
9,10,190,RL,50,7420,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,1,2008,WD,Normal,118000,59000.0,236000.0

In [193]:
### Filling the Missing Value
df.na.fill('Missing Values',['SalePrice','SaleCondition']).limit(10).toPandas()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Half Of The SalePrice,Double Of The Price
0,1,60,RL,65,8450,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,2,2008,WD,Normal,208500,104250.0,417000.0
1,2,20,RL,80,9600,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,5,2007,WD,Normal,181500,90750.0,363000.0
2,3,60,RL,68,11250,Pave,NA,IR1,Lvl,AllPub,...,NA,NA,0,9,2008,WD,Normal,223500,111750.0,447000.0
3,4,70,RL,60,9550,Pave,NA,IR1,Lvl,AllPub,...,NA,NA,0,2,2006,WD,Abnorml,140000,70000.0,280000.0
4,5,60,RL,84,14260,Pave,NA,IR1,Lvl,AllPub,...,NA,NA,0,12,2008,WD,Normal,250000,125000.0,500000.0
5,6,50,RL,85,14115,Pave,NA,IR1,Lvl,AllPub,...,MnPrv,Shed,700,10,2009,WD,Normal,143000,71500.0,286000.0
6,7,20,RL,75,10084,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,8,2007,WD,Normal,307000,153500.0,614000.0
7,8,60,RL,NA,10382,Pave,NA,IR1,Lvl,AllPub,...,NA,Shed,350,11,2009,WD,Normal,200000,100000.0,400000.0
8,9,50,RM,51,6120,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,4,2008,WD,Abnorml,129900,64950.0,259800.0
9,10,190,RL,50,7420,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,1,2008,WD,Normal,118000,59000.0,236000.0

## Filter Operation

In [194]:
### Saleprice of the house less than or equal to 20000
df4=df3.filter("SalePrice>=165500")

In [195]:
df4.limit(10).toPandas()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Alley,LotShape,LandContour,Utilities,LotConfig,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Half Of The SalePrice,Double Of The Price
0,1,60,RL,65,8450,NA,Reg,Lvl,AllPub,Inside,...,NA,NA,0,2,2008,WD,Normal,208500,104250.0,417000.0
1,2,20,RL,80,9600,NA,Reg,Lvl,AllPub,FR2,...,NA,NA,0,5,2007,WD,Normal,181500,90750.0,363000.0
2,3,60,RL,68,11250,NA,IR1,Lvl,AllPub,Inside,...,NA,NA,0,9,2008,WD,Normal,223500,111750.0,447000.0
3,5,60,RL,84,14260,NA,IR1,Lvl,AllPub,FR2,...,NA,NA,0,12,2008,WD,Normal,250000,125000.0,500000.0
4,7,20,RL,75,10084,NA,Reg,Lvl,AllPub,Inside,...,NA,NA,0,8,2007,WD,Normal,307000,153500.0,614000.0
5,8,60,RL,NA,10382,NA,IR1,Lvl,AllPub,Corner,...,NA,Shed,350,11,2009,WD,Normal,200000,100000.0,400000.0
6,12,60,RL,85,11924,NA,IR1,Lvl,AllPub,Inside,...,NA,NA,0,7,2006,New,Partial,345000,172500.0,690000.0
7,14,20,RL,91,10652,NA,IR1,Lvl,AllPub,Inside,...,NA,NA,0,8,2007,New,Partial,279500,139750.0,559000.0
8,21,60,RL,101,14215,NA,IR1,Lvl,AllPub,Corner,...,NA,NA,0,11,2006,New,Partial,325300,162650.0,650600.0
9,23,20,RL,75,9742,NA,Reg,Lvl,AllPub,Inside,...,NA,NA,0,9,2008,WD,Normal,230000,115000.0,460000.0

In [196]:
#filter with a condition and selecting a particular column
df3.filter("SalePrice<=165500").select(['SaleCondition','YrSold']).limit(10).toPandas()

  SaleCondition YrSold
0       Abnorml   2006
1        Normal   2009
2       Abnorml   2008
3        Normal   2008
4        Normal   2008
5        Normal   2008
6        Normal   2008
7        Normal   2007
8        Normal   2010
9        Normal   2006

In [197]:
df3.filter(df3['SalePrice']<=165500).limit(10).toPandas()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Alley,LotShape,LandContour,Utilities,LotConfig,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Half Of The SalePrice,Double Of The Price
0,4,70,RL,60,9550,NA,IR1,Lvl,AllPub,Corner,...,NA,NA,0,2,2006,WD,Abnorml,140000,70000.0,280000.0
1,6,50,RL,85,14115,NA,IR1,Lvl,AllPub,Inside,...,MnPrv,Shed,700,10,2009,WD,Normal,143000,71500.0,286000.0
2,9,50,RM,51,6120,NA,Reg,Lvl,AllPub,Inside,...,NA,NA,0,4,2008,WD,Abnorml,129900,64950.0,259800.0
3,10,190,RL,50,7420,NA,Reg,Lvl,AllPub,Corner,...,NA,NA,0,1,2008,WD,Normal,118000,59000.0,236000.0
4,11,20,RL,70,11200,NA,Reg,Lvl,AllPub,Inside,...,NA,NA,0,2,2008,WD,Normal,129500,64750.0,259000.0
5,13,20,RL,NA,12968,NA,IR2,Lvl,AllPub,Inside,...,NA,NA,0,9,2008,WD,Normal,144000,72000.0,288000.0
6,15,20,RL,NA,10920,NA,IR1,Lvl,AllPub,Corner,...,GdWo,NA,0,5,2008,WD,Normal,157000,78500.0,314000.0
7,16,45,RM,51,6120,NA,Reg,Lvl,AllPub,Corner,...,GdPrv,NA,0,7,2007,WD,Normal,132000,66000.0,264000.0
8,17,20,RL,NA,11241,NA,IR1,Lvl,AllPub,CulDSac,...,NA,Shed,700,3,2010,WD,Normal,149000,74500.0,298000.0
9,18,90,RL,72,10791,NA,Reg,Lvl,AllPub,Inside,...,NA,Shed,500,10,2006,WD,Normal,90000,45000.0,180000.0

In [198]:
df3.filter((df3['SalePrice']<=165500) | 
                  (df3['SalePrice']>=250000)).limit(10).toPandas()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Alley,LotShape,LandContour,Utilities,LotConfig,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Half Of The SalePrice,Double Of The Price
0,4,70,RL,60,9550,NA,IR1,Lvl,AllPub,Corner,...,NA,NA,0,2,2006,WD,Abnorml,140000,70000.0,280000.0
1,5,60,RL,84,14260,NA,IR1,Lvl,AllPub,FR2,...,NA,NA,0,12,2008,WD,Normal,250000,125000.0,500000.0
2,6,50,RL,85,14115,NA,IR1,Lvl,AllPub,Inside,...,MnPrv,Shed,700,10,2009,WD,Normal,143000,71500.0,286000.0
3,7,20,RL,75,10084,NA,Reg,Lvl,AllPub,Inside,...,NA,NA,0,8,2007,WD,Normal,307000,153500.0,614000.0
4,9,50,RM,51,6120,NA,Reg,Lvl,AllPub,Inside,...,NA,NA,0,4,2008,WD,Abnorml,129900,64950.0,259800.0
5,10,190,RL,50,7420,NA,Reg,Lvl,AllPub,Corner,...,NA,NA,0,1,2008,WD,Normal,118000,59000.0,236000.0
6,11,20,RL,70,11200,NA,Reg,Lvl,AllPub,Inside,...,NA,NA,0,2,2008,WD,Normal,129500,64750.0,259000.0
7,12,60,RL,85,11924,NA,IR1,Lvl,AllPub,Inside,...,NA,NA,0,7,2006,New,Partial,345000,172500.0,690000.0
8,13,20,RL,NA,12968,NA,IR2,Lvl,AllPub,Inside,...,NA,NA,0,9,2008,WD,Normal,144000,72000.0,288000.0
9,14,20,RL,91,10652,NA,IR1,Lvl,AllPub,Inside,...,NA,NA,0,8,2007,New,Partial,279500,139750.0,559000.0

In [199]:
# Filter with negation
df3.filter(~(df3['SalePrice']<=165500)).limit(10).toPandas()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Alley,LotShape,LandContour,Utilities,LotConfig,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Half Of The SalePrice,Double Of The Price
0,1,60,RL,65,8450,NA,Reg,Lvl,AllPub,Inside,...,NA,NA,0,2,2008,WD,Normal,208500,104250.0,417000.0
1,2,20,RL,80,9600,NA,Reg,Lvl,AllPub,FR2,...,NA,NA,0,5,2007,WD,Normal,181500,90750.0,363000.0
2,3,60,RL,68,11250,NA,IR1,Lvl,AllPub,Inside,...,NA,NA,0,9,2008,WD,Normal,223500,111750.0,447000.0
3,5,60,RL,84,14260,NA,IR1,Lvl,AllPub,FR2,...,NA,NA,0,12,2008,WD,Normal,250000,125000.0,500000.0
4,7,20,RL,75,10084,NA,Reg,Lvl,AllPub,Inside,...,NA,NA,0,8,2007,WD,Normal,307000,153500.0,614000.0
5,8,60,RL,NA,10382,NA,IR1,Lvl,AllPub,Corner,...,NA,Shed,350,11,2009,WD,Normal,200000,100000.0,400000.0
6,12,60,RL,85,11924,NA,IR1,Lvl,AllPub,Inside,...,NA,NA,0,7,2006,New,Partial,345000,172500.0,690000.0
7,14,20,RL,91,10652,NA,IR1,Lvl,AllPub,Inside,...,NA,NA,0,8,2007,New,Partial,279500,139750.0,559000.0
8,21,60,RL,101,14215,NA,IR1,Lvl,AllPub,Corner,...,NA,NA,0,11,2006,New,Partial,325300,162650.0,650600.0
9,23,20,RL,75,9742,NA,Reg,Lvl,AllPub,Inside,...,NA,NA,0,9,2008,WD,Normal,230000,115000.0,460000.0

## GroupBy and Aggregate Functions

In [55]:
## Groupby
### Grouped to find the maximum saleprice
df3.groupBy('SaleCondition').sum().show()

+-------------+--------------------------+------------------------+
|SaleCondition|sum(Half Of The SalePrice)|sum(Double Of The Price)|
+-------------+--------------------------+------------------------+
|       Alloca|                 1004264.5|               4017058.0|
|      Partial|              1.70182345E7|             6.8072938E7|
|       Family|                 1496000.0|               5984000.0|
|      Abnorml|                 7399594.5|             2.9598378E7|
|      AdjLand|                  208250.0|                833000.0|
|       Normal|             1.049461295E8|            4.19784518E8|
+-------------+--------------------------+------------------------+

In [56]:
## Groupby
### Grouped to find the avg saleprice
df3.groupBy('SaleCondition').avg().show()

+-------------+--------------------------+------------------------+
|SaleCondition|avg(Half Of The SalePrice)|avg(Double Of The Price)|
+-------------+--------------------------+------------------------+
|       Alloca|         83688.70833333333|       334754.8333333333|
|      Partial|                136145.876|              544583.504|
|       Family|                   74800.0|                299200.0|
|      Abnorml|         73263.31188118811|      293053.24752475246|
|      AdjLand|                   52062.5|                208250.0|
|       Normal|         87601.10976627714|      350404.43906510854|
+-------------+--------------------------+------------------------+

In [57]:
## Groupby
### Grouped to find the mean saleprice
df3.groupBy('SaleCondition').mean().show()

+-------------+--------------------------+------------------------+
|SaleCondition|avg(Half Of The SalePrice)|avg(Double Of The Price)|
+-------------+--------------------------+------------------------+
|       Alloca|         83688.70833333333|       334754.8333333333|
|      Partial|                136145.876|              544583.504|
|       Family|                   74800.0|                299200.0|
|      Abnorml|         73263.31188118811|      293053.24752475246|
|      AdjLand|                   52062.5|                208250.0|
|       Normal|         87601.10976627714|      350404.43906510854|
+-------------+--------------------------+------------------------+

In [58]:
## Groupby
### Grouped to find the sum saleprice
df3.groupBy('GarageType').sum().show()

+----------+--------------------------+------------------------+
|GarageType|sum(Half Of The SalePrice)|sum(Double Of The Price)|
+----------+--------------------------+------------------------+
|        NA|                 4184350.0|               1.67374E7|
|    Detchd|                2.594664E7|             1.0378656E8|
|    Attchd|              8.82583055E7|            3.53033222E8|
|   CarPort|                  494829.5|               1979318.0|
|   BuiltIn|              1.12090765E7|             4.4836306E7|
|   Basment|                 1525421.5|               6101686.0|
|    2Types|                  453850.0|               1815400.0|
+----------+--------------------------+------------------------+

In [59]:
## Groupby
### Grouped to find the count saleprice
df3.groupBy('SaleCondition').count().show()

+-------------+-----+
|SaleCondition|count|
+-------------+-----+
|       Alloca|   12|
|      Partial|  125|
|       Family|   20|
|      Abnorml|  101|
|      AdjLand|    4|
|       Normal| 1198|
+-------------+-----+

In [60]:
df3.agg({'SalePrice':'sum','SalePrice':'avg'}).show()

+------------------+
|    avg(SalePrice)|
+------------------+
|180921.19589041095|
+------------------+

In [201]:
desc=df3.describe()

In [202]:
desc.limit(10).toPandas()

,summary,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Alley,LotShape,LandContour,Utilities,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Half Of The SalePrice,Double Of The Price
0,count,1460,1460,1460,1460,1460,1460,1460,1460,1460,...,1460,1460,1460,1460,1460,1460,1460,1460,1460,1460
1,mean,730.5,56.897260273972606,None,70.04995836802665,10516.828082191782,None,None,None,None,...,None,None,43.489041095890414,6.321917808219178,2007.8157534246575,None,None,180921.19589041095,90460.59794520547,361842.3917808219
2,stddev,421.6100093688479,42.30057099381045,None,24.28475177448321,9981.26493237915,None,None,None,None,...,None,None,496.1230244579441,2.7036262083595113,1.3280951205521145,None,None,79442.50288288663,39721.25144144332,158885.00576577327
3,min,1,120,C (all),100,10000,Grvl,IR1,Bnk,AllPub,...,GdPrv,Gar2,0,1,2006,COD,Abnorml,100000,17450.0,69800.0
4,max,999,90,RM,NA,9991,Pave,Reg,Lvl,NoSeWa,...,NA,TenC,8300,9,2010,WD,Partial,99900,377500.0,1510000.0

In [203]:
from pyspark.sql.functions import expr, col, column
df.select(
    expr("SalePrice"),
    col("SalePrice"),
    column("SalePrice"))\
  .show(2)

+---------+---------+---------+
|SalePrice|SalePrice|SalePrice|
+---------+---------+---------+
|   208500|   208500|   208500|
|   181500|   181500|   181500|
+---------+---------+---------+
only showing top 2 rows

In [204]:
df.select(expr("SalePrice AS SoldPrice")).show(2)

+---------+
|SoldPrice|
+---------+
|   208500|
|   181500|
+---------+
only showing top 2 rows

In [205]:
df.select(expr("SaleCondition as newsaleCondition").alias("SaleCondition1"))\
  .show(2)

+--------------+
|SaleCondition1|
+--------------+
|        Normal|
|        Normal|
+--------------+
only showing top 2 rows

In [206]:
df.selectExpr("SaleCondition as NewSaleCondition", "SaleCondition").show(2)

+----------------+-------------+
|NewSaleCondition|SaleCondition|
+----------------+-------------+
|          Normal|       Normal|
|          Normal|       Normal|
+----------------+-------------+
only showing top 2 rows

In [82]:
demo = spark.read.format("csv").option("header","True").option("inferSchema","true").load("test1.csv")

In [83]:
demo.show()

+------+---+----------+------+
|  name|age|experience|salary|
+------+---+----------+------+
|   ram| 30|         5| 20000|
| shyam| 32|         6| 45000|
|bharat| 19|         3| 56000|
|    om| 20|         6| 60000|
| pintu| 21|         2| 16000|
|  hari| 22|         8| 28000|
+------+---+----------+------+

In [84]:
demo.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)
 |-- salary: integer (nullable = true)

In [88]:
k={"header":"True","inferSchema":"True"}

In [99]:
# COMMAND ----------

spark.read.format("csv").options(**k).load("test1.csv").schema

StructType(List(StructField(name,StringType,true),StructField(age,IntegerType,true),StructField(experience,IntegerType,true),StructField(salary,IntegerType,true)))

In [100]:
p=spark.read.format("csv").options(**k).load("test1.csv")

In [101]:
p.show()

+------+---+----------+------+
|  name|age|experience|salary|
+------+---+----------+------+
|   ram| 30|         5| 20000|
| shyam| 32|         6| 45000|
|bharat| 19|         3| 56000|
|    om| 20|         6| 60000|
| pintu| 21|         2| 16000|
|  hari| 22|         8| 28000|
+------+---+----------+------+

In [69]:
#Creating Schema Manually
from pyspark.sql.types import StructField, StructType, StringType, LongType

In [104]:
from pyspark.sql.types import *

In [105]:
myManualSchema = StructType([
  StructField("name", StringType(), True),
  StructField("age", IntegerType(), True),
  StructField("experience", IntegerType(),False),
  StructField("salary",IntegerType(),False),
])

In [108]:

demo1 = spark.read.format("csv").option("header","True").schema(myManualSchema)\
  .load("test1.csv")

In [109]:
demo1.show()

+------+---+----------+------+
|  name|age|experience|salary|
+------+---+----------+------+
|   ram| 30|         5| 20000|
| shyam| 32|         6| 45000|
|bharat| 19|         3| 56000|
|    om| 20|         6| 60000|
| pintu| 21|         2| 16000|
|  hari| 22|         8| 28000|
+------+---+----------+------+

In [110]:
demo1.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)
 |-- salary: integer (nullable = true)

In [111]:
# COMMAND ----------

from pyspark.sql.functions import col, column
col("SalePrice")
column("SalePrice")

Column<'SalePrice'>

In [112]:
# COMMAND ----------

from pyspark.sql.functions import expr
expr("(((SalePrice + 5) * 200) - 6) < SalePrice")

Column<'((((SalePrice + 5) * 200) - 6) < SalePrice)'>

In [113]:
# COMMAND ----------

from pyspark.sql import Row
myRow = Row("Hello", None, 1, False)

In [114]:
myRow[0]
myRow[2]

1

In [115]:
# COMMAND ----------
demo2 = spark.read.format("csv").load("test1.csv")
demo2.createOrReplaceTempView("dfTable")

In [116]:
from pyspark.sql import Row
from pyspark.sql.types import StructField, StructType, StringType, LongType
myManualSchema = StructType([
  StructField("some", StringType(), True),
  StructField("col", StringType(), True),
  StructField("names", LongType(), False)
])

In [117]:
myRow = Row("Hello", None, 1)
myDf = spark.createDataFrame([myRow], myManualSchema)
myDf.show()

+-----+----+-----+
| some| col|names|
+-----+----+-----+
|Hello|null|    1|
+-----+----+-----+

In [118]:
df.select("SalePrice").show(2)

+---------+
|SalePrice|
+---------+
|   208500|
|   181500|
+---------+
only showing top 2 rows

In [119]:
# COMMAND ----------

df.select("SalePrice", "SaleCondition").show(2)

+---------+-------------+
|SalePrice|SaleCondition|
+---------+-------------+
|   208500|       Normal|
|   181500|       Normal|
+---------+-------------+
only showing top 2 rows

In [120]:

# COMMAND ----------

from pyspark.sql.functions import expr, col, column
df.select(
    expr("SaleCondition"),
    col("SaleCondition"),
    column("SaleCondition"))\
  .show(2)

+-------------+-------------+-------------+
|SaleCondition|SaleCondition|SaleCondition|
+-------------+-------------+-------------+
|       Normal|       Normal|       Normal|
|       Normal|       Normal|       Normal|
+-------------+-------------+-------------+
only showing top 2 rows

In [121]:
# COMMAND ----------

df.select(expr("SaleCondition AS Condition")).show(2)

+---------+
|Condition|
+---------+
|   Normal|
|   Normal|
+---------+
only showing top 2 rows

In [122]:

df.select(expr("SaleCondition as Condition").alias("Condition"))\
  .show(2)

+---------+
|Condition|
+---------+
|   Normal|
|   Normal|
+---------+
only showing top 2 rows

In [124]:

df.selectExpr("SaleCondition as Condition", "SaleCondition").show(2)

+---------+-------------+
|Condition|SaleCondition|
+---------+-------------+
|   Normal|       Normal|
|   Normal|       Normal|
+---------+-------------+
only showing top 2 rows

In [129]:
# COMMAND ----------

q=df.selectExpr(
  "*", # all original columns
  "(SalePrice == 208500) as salepriceequal")

In [207]:
q.limit(10).toPandas()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Half Of The SalePrice,Double Of The Price,salepriceequal
0,1,60,RL,65,8450,Pave,NA,Reg,Lvl,AllPub,...,NA,0,2,2008,WD,Normal,208500,104250.0,417000.0,True
1,2,20,RL,80,9600,Pave,NA,Reg,Lvl,AllPub,...,NA,0,5,2007,WD,Normal,181500,90750.0,363000.0,False
2,3,60,RL,68,11250,Pave,NA,IR1,Lvl,AllPub,...,NA,0,9,2008,WD,Normal,223500,111750.0,447000.0,False
3,4,70,RL,60,9550,Pave,NA,IR1,Lvl,AllPub,...,NA,0,2,2006,WD,Abnorml,140000,70000.0,280000.0,False
4,5,60,RL,84,14260,Pave,NA,IR1,Lvl,AllPub,...,NA,0,12,2008,WD,Normal,250000,125000.0,500000.0,False
5,6,50,RL,85,14115,Pave,NA,IR1,Lvl,AllPub,...,Shed,700,10,2009,WD,Normal,143000,71500.0,286000.0,False
6,7,20,RL,75,10084,Pave,NA,Reg,Lvl,AllPub,...,NA,0,8,2007,WD,Normal,307000,153500.0,614000.0,False
7,8,60,RL,NA,10382,Pave,NA,IR1,Lvl,AllPub,...,Shed,350,11,2009,WD,Normal,200000,100000.0,400000.0,False
8,9,50,RM,51,6120,Pave,NA,Reg,Lvl,AllPub,...,NA,0,4,2008,WD,Abnorml,129900,64950.0,259800.0,False
9,10,190,RL,50,7420,Pave,NA,Reg,Lvl,AllPub,...,NA,0,1,2008,WD,Normal,118000,59000.0,236000.0,False

In [131]:
df.selectExpr("avg(SalePrice)", "count(distinct(LotArea))").show(2)

+------------------+-----------------------+
|    avg(SalePrice)|count(DISTINCT LotArea)|
+------------------+-----------------------+
|180921.19589041095|                   1073|
+------------------+-----------------------+

In [209]:
# COMMAND ----------
from pyspark.sql.functions import lit
df.select(expr("*"), lit("Hello").alias("One")).limit(10).toPandas()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Half Of The SalePrice,Double Of The Price,One
0,1,60,RL,65,8450,Pave,NA,Reg,Lvl,AllPub,...,NA,0,2,2008,WD,Normal,208500,104250.0,417000.0,Hello
1,2,20,RL,80,9600,Pave,NA,Reg,Lvl,AllPub,...,NA,0,5,2007,WD,Normal,181500,90750.0,363000.0,Hello
2,3,60,RL,68,11250,Pave,NA,IR1,Lvl,AllPub,...,NA,0,9,2008,WD,Normal,223500,111750.0,447000.0,Hello
3,4,70,RL,60,9550,Pave,NA,IR1,Lvl,AllPub,...,NA,0,2,2006,WD,Abnorml,140000,70000.0,280000.0,Hello
4,5,60,RL,84,14260,Pave,NA,IR1,Lvl,AllPub,...,NA,0,12,2008,WD,Normal,250000,125000.0,500000.0,Hello
5,6,50,RL,85,14115,Pave,NA,IR1,Lvl,AllPub,...,Shed,700,10,2009,WD,Normal,143000,71500.0,286000.0,Hello
6,7,20,RL,75,10084,Pave,NA,Reg,Lvl,AllPub,...,NA,0,8,2007,WD,Normal,307000,153500.0,614000.0,Hello
7,8,60,RL,NA,10382,Pave,NA,IR1,Lvl,AllPub,...,Shed,350,11,2009,WD,Normal,200000,100000.0,400000.0,Hello
8,9,50,RM,51,6120,Pave,NA,Reg,Lvl,AllPub,...,NA,0,4,2008,WD,Abnorml,129900,64950.0,259800.0,Hello
9,10,190,RL,50,7420,Pave,NA,Reg,Lvl,AllPub,...,NA,0,1,2008,WD,Normal,118000,59000.0,236000.0,Hello

In [210]:
# COMMAND ----------
df.withColumn("numberOne", lit(1)).limit(10).toPandas()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Half Of The SalePrice,Double Of The Price,numberOne
0,1,60,RL,65,8450,Pave,NA,Reg,Lvl,AllPub,...,NA,0,2,2008,WD,Normal,208500,104250.0,417000.0,1
1,2,20,RL,80,9600,Pave,NA,Reg,Lvl,AllPub,...,NA,0,5,2007,WD,Normal,181500,90750.0,363000.0,1
2,3,60,RL,68,11250,Pave,NA,IR1,Lvl,AllPub,...,NA,0,9,2008,WD,Normal,223500,111750.0,447000.0,1
3,4,70,RL,60,9550,Pave,NA,IR1,Lvl,AllPub,...,NA,0,2,2006,WD,Abnorml,140000,70000.0,280000.0,1
4,5,60,RL,84,14260,Pave,NA,IR1,Lvl,AllPub,...,NA,0,12,2008,WD,Normal,250000,125000.0,500000.0,1
5,6,50,RL,85,14115,Pave,NA,IR1,Lvl,AllPub,...,Shed,700,10,2009,WD,Normal,143000,71500.0,286000.0,1
6,7,20,RL,75,10084,Pave,NA,Reg,Lvl,AllPub,...,NA,0,8,2007,WD,Normal,307000,153500.0,614000.0,1
7,8,60,RL,NA,10382,Pave,NA,IR1,Lvl,AllPub,...,Shed,350,11,2009,WD,Normal,200000,100000.0,400000.0,1
8,9,50,RM,51,6120,Pave,NA,Reg,Lvl,AllPub,...,NA,0,4,2008,WD,Abnorml,129900,64950.0,259800.0,1
9,10,190,RL,50,7420,Pave,NA,Reg,Lvl,AllPub,...,NA,0,1,2008,WD,Normal,118000,59000.0,236000.0,1

In [211]:
# COMMAND ----------
df.withColumn("Greater_sale_price", expr("SalePrice > 208500"))\
  .limit(10).toPandas()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Half Of The SalePrice,Double Of The Price,Greater_sale_price
0,1,60,RL,65,8450,Pave,NA,Reg,Lvl,AllPub,...,NA,0,2,2008,WD,Normal,208500,104250.0,417000.0,False
1,2,20,RL,80,9600,Pave,NA,Reg,Lvl,AllPub,...,NA,0,5,2007,WD,Normal,181500,90750.0,363000.0,False
2,3,60,RL,68,11250,Pave,NA,IR1,Lvl,AllPub,...,NA,0,9,2008,WD,Normal,223500,111750.0,447000.0,True
3,4,70,RL,60,9550,Pave,NA,IR1,Lvl,AllPub,...,NA,0,2,2006,WD,Abnorml,140000,70000.0,280000.0,False
4,5,60,RL,84,14260,Pave,NA,IR1,Lvl,AllPub,...,NA,0,12,2008,WD,Normal,250000,125000.0,500000.0,True
5,6,50,RL,85,14115,Pave,NA,IR1,Lvl,AllPub,...,Shed,700,10,2009,WD,Normal,143000,71500.0,286000.0,False
6,7,20,RL,75,10084,Pave,NA,Reg,Lvl,AllPub,...,NA,0,8,2007,WD,Normal,307000,153500.0,614000.0,True
7,8,60,RL,NA,10382,Pave,NA,IR1,Lvl,AllPub,...,Shed,350,11,2009,WD,Normal,200000,100000.0,400000.0,False
8,9,50,RM,51,6120,Pave,NA,Reg,Lvl,AllPub,...,NA,0,4,2008,WD,Abnorml,129900,64950.0,259800.0,False
9,10,190,RL,50,7420,Pave,NA,Reg,Lvl,AllPub,...,NA,0,1,2008,WD,Normal,118000,59000.0,236000.0,False

In [212]:
# COMMAND ----------
df.withColumnRenamed("SaleCondition", "condition").columns

['Id',
 'MSSubClass',
 'MSZoning',
 'LotFrontage',
 'LotArea',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'OverallQual',
 'OverallCond',
 'YearBuilt',
 'YearRemodAdd',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'MasVnrArea',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinSF1',
 'BsmtFinType2',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'BsmtFullBath',
 'BsmtHalfBath',
 'FullBath',
 'HalfBath',
 'BedroomAbvGr',
 'KitchenAbvGr',
 'KitchenQual',
 'TotRmsAbvGrd',
 'Functional',
 'Fireplaces',
 'FireplaceQu',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageCars',
 'GarageArea',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'MiscVal',
 'MoSold',
 'YrSold',
 'SaleType',
 'condition',
 'SalePrice',
 'Half Of The SalePrice',
 'Double Of The Price']

In [213]:
# COMMAND ----------
dfWithLongColName = df.withColumn(
    "This Long Column-Name",
    expr("SaleCondition"))

In [214]:
dfWithLongColName.selectExpr(
    "`This Long Column-Name`",
    "`This Long Column-Name` as `new col`")\
  .show(2)

+---------------------+-------+
|This Long Column-Name|new col|
+---------------------+-------+
|               Normal| Normal|
|               Normal| Normal|
+---------------------+-------+
only showing top 2 rows

In [215]:
dfWithLongColName.select(expr("`This Long Column-Name`")).columns

['This Long Column-Name']

In [216]:
df.where(col("SalePrice") < 208500).where(col("SaleCondition") != "Normal")\
  .limit(10).toPandas()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Half Of The SalePrice,Double Of The Price
0,4,70,RL,60,9550,Pave,NA,IR1,Lvl,AllPub,...,NA,NA,0,2,2006,WD,Abnorml,140000,70000.0,280000.0
1,9,50,RM,51,6120,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,4,2008,WD,Abnorml,129900,64950.0,259800.0
2,20,20,RL,70,7560,Pave,NA,Reg,Lvl,AllPub,...,MnPrv,NA,0,5,2009,COD,Abnorml,139000,69500.0,278000.0
3,39,20,RL,68,7922,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,1,2010,WD,Abnorml,109000,54500.0,218000.0
4,40,90,RL,65,6040,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,6,2008,WD,AdjLand,82000,41000.0,164000.0
5,41,20,RL,84,8658,Pave,NA,Reg,Lvl,AllPub,...,GdWo,NA,0,12,2006,WD,Abnorml,160000,80000.0,320000.0
6,49,190,RM,33,4456,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,6,2009,New,Partial,113000,56500.0,226000.0
7,57,160,FV,24,2645,Pave,Pave,Reg,Lvl,AllPub,...,NA,NA,0,8,2009,WD,Abnorml,172500,86250.0,345000.0
8,61,20,RL,63,13072,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,5,2006,New,Partial,158000,79000.0,316000.0
9,88,160,FV,40,3951,Pave,Pave,Reg,Lvl,AllPub,...,NA,NA,0,6,2009,New,Partial,164500,82250.0,329000.0

In [217]:
df.select("SalePrice", "SaleCondition").distinct().count()

778

In [218]:
df.select("SalePrice").distinct().count()

663

In [219]:
seed = 5
withReplacement = False
fraction = 0.5
df.sample(withReplacement, fraction, seed).count()

784

In [220]:
dataFrames = df.randomSplit([0.25, 0.75], seed)
dataFrames[0].count() > dataFrames[1].count() # False

False

In [221]:
from pyspark.sql import Row
schema = demo.schema
newRows = [
  Row("vikash",21, 5,50000),
  Row("Raj",22,6,480000)
]
parallelizedRows = spark.sparkContext.parallelize(newRows)
newDF = spark.createDataFrame(parallelizedRows, schema)

In [222]:
newDF.show()

+------+---+----------+------+
|  name|age|experience|salary|
+------+---+----------+------+
|vikash| 21|         5| 50000|
|   Raj| 22|         6|480000|
+------+---+----------+------+

In [223]:
demo.union(newDF).show()

+------+---+----------+------+
|  name|age|experience|salary|
+------+---+----------+------+
|   ram| 30|         5| 20000|
| shyam| 32|         6| 45000|
|bharat| 19|         3| 56000|
|    om| 20|         6| 60000|
| pintu| 21|         2| 16000|
|  hari| 22|         8| 28000|
|vikash| 21|         5| 50000|
|   Raj| 22|         6|480000|
+------+---+----------+------+

In [224]:

demo.union(newDF)\
  .where("salary = 60000")\
  .where(col("name") == "om")\
  .show()

+----+---+----------+------+
|name|age|experience|salary|
+----+---+----------+------+
|  om| 20|         6| 60000|
+----+---+----------+------+

In [225]:

df.sort("SalePrice").limit(10).toPandas()
df.orderBy("SalePrice", "LotArea").limit(10).toPandas()
df.orderBy(col("LotArea"), col("SalePrice")).limit(10).toPandas()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Half Of The SalePrice,Double Of The Price
0,734,20,RL,80,10000,Pave,NA,Reg,Lvl,AllPub,...,GdWo,Shed,400,3,2009,WD,Normal,131400,65700.0,262800.0
1,718,20,RL,80,10000,Pave,NA,Reg,Lvl,AllPub,...,MnPrv,NA,0,11,2008,WD,Normal,157000,78500.0,314000.0
2,626,20,RL,87,10000,Pave,NA,IR1,Lvl,AllPub,...,NA,NA,0,2,2010,WD,Normal,160000,80000.0,320000.0
3,1331,20,RL,85,10000,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,12,2007,WD,Normal,227000,113500.0,454000.0
4,1448,60,RL,80,10000,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,12,2007,WD,Normal,240000,120000.0,480000.0
5,834,20,RL,100,10004,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,2,2009,WD,Normal,167000,83500.0,334000.0
6,280,60,RL,83,10005,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,3,2008,WD,Normal,192000,96000.0,384000.0
7,657,20,RL,72,10007,Pave,NA,IR1,Lvl,AllPub,...,MnPrv,NA,0,8,2008,WD,Normal,145500,72750.0,291000.0
8,562,20,RL,77,10010,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,4,2006,WD,Normal,170000,85000.0,340000.0
9,216,20,RL,72,10011,Pave,NA,IR1,Lvl,AllPub,...,MnPrv,NA,0,5,2006,WD,Normal,134450,67225.0,268900.0

In [226]:

from pyspark.sql.functions import desc, asc
df.orderBy(expr("SalePrice")).limit(10).toPandas()
df.orderBy(col("SalePrice").desc(), col("LotArea").asc()).limit(10).toPandas()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Half Of The SalePrice,Double Of The Price
0,1258,30,RL,56,4060,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,7,2009,WD,Normal,99900,49950.0,199800.0
1,973,120,RL,55,7892,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,4,2010,WD,Normal,99500,49750.0,199000.0
2,92,20,RL,85,8500,Pave,NA,Reg,Lvl,AllPub,...,GdWo,NA,0,12,2006,WD,Abnorml,98600,49300.0,197200.0
3,647,20,RL,60,7200,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,7,2008,WD,Normal,98300,49150.0,196600.0
4,457,70,RM,34,4571,Pave,Grvl,Reg,Lvl,AllPub,...,NA,NA,0,5,2008,COD,Abnorml,98000,49000.0,196000.0
5,211,30,RL,67,5604,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,4,2008,WD,Normal,98000,49000.0,196000.0
6,750,50,RL,50,8405,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,4,2009,WD,Normal,98000,49000.0,196000.0
7,659,50,RL,78,17503,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,1,2010,WD,Abnorml,97500,48750.0,195000.0
8,224,20,RL,70,10500,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,3,2009,WD,Abnorml,97000,48500.0,194000.0
9,260,20,RM,70,12702,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,12,2008,WD,Normal,97000,48500.0,194000.0

In [163]:
# COMMAND ----------

spark.read.format("csv").options(**k).load("test1.csv")\
  .sortWithinPartitions("salary")

DataFrame[name: string, age: int, experience: int, salary: int]

In [227]:
# COMMAND ----------

df.limit(10).toPandas()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Half Of The SalePrice,Double Of The Price
0,1,60,RL,65,8450,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,2,2008,WD,Normal,208500,104250.0,417000.0
1,2,20,RL,80,9600,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,5,2007,WD,Normal,181500,90750.0,363000.0
2,3,60,RL,68,11250,Pave,NA,IR1,Lvl,AllPub,...,NA,NA,0,9,2008,WD,Normal,223500,111750.0,447000.0
3,4,70,RL,60,9550,Pave,NA,IR1,Lvl,AllPub,...,NA,NA,0,2,2006,WD,Abnorml,140000,70000.0,280000.0
4,5,60,RL,84,14260,Pave,NA,IR1,Lvl,AllPub,...,NA,NA,0,12,2008,WD,Normal,250000,125000.0,500000.0
5,6,50,RL,85,14115,Pave,NA,IR1,Lvl,AllPub,...,MnPrv,Shed,700,10,2009,WD,Normal,143000,71500.0,286000.0
6,7,20,RL,75,10084,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,8,2007,WD,Normal,307000,153500.0,614000.0
7,8,60,RL,NA,10382,Pave,NA,IR1,Lvl,AllPub,...,NA,Shed,350,11,2009,WD,Normal,200000,100000.0,400000.0
8,9,50,RM,51,6120,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,4,2008,WD,Abnorml,129900,64950.0,259800.0
9,10,190,RL,50,7420,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,1,2008,WD,Normal,118000,59000.0,236000.0

In [228]:

# COMMAND ----------

df.orderBy(expr("SalePrice desc")).limit(10).toPandas()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Half Of The SalePrice,Double Of The Price
0,107,30,RM,60,10800,Pave,Grvl,Reg,Lvl,AllPub,...,NA,Shed,450,8,2007,WD,Normal,100000,50000.0,200000.0
1,122,50,RM,50,6060,Pave,NA,Reg,Lvl,AllPub,...,MnPrv,NA,0,6,2007,WD,Normal,100000,50000.0,200000.0
2,180,30,RM,60,8520,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,7,2007,WD,Normal,100000,50000.0,200000.0
3,762,30,RM,60,6911,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,10,2009,WD,Normal,100000,50000.0,200000.0
4,394,30,RL,NA,7446,Pave,NA,Reg,Lvl,AllPub,...,GdWo,NA,0,4,2006,WD,Abnorml,100000,50000.0,200000.0
5,838,160,RM,21,1680,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,11,2008,WD,Normal,100000,50000.0,200000.0
6,885,20,RL,65,7150,Pave,NA,Reg,Lvl,AllPub,...,GdWo,NA,0,7,2009,WD,Normal,100000,50000.0,200000.0
7,1012,90,RL,75,9825,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,5,2010,WD,Normal,100000,50000.0,200000.0
8,1333,20,RL,67,8877,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,5,2009,WD,Normal,100000,50000.0,200000.0
9,62,75,RM,60,7200,Pave,NA,Reg,Lvl,AllPub,...,NA,NA,0,3,2007,WD,Normal,101000,50500.0,202000.0

In [166]:
# COMMAND ----------

df.rdd.getNumPartitions() # 1

1

In [167]:
# COMMAND ----------

df.repartition(5)

DataFrame[Id: string, MSSubClass: string, MSZoning: string, LotFrontage: string, LotArea: string, Street: string, Alley: string, LotShape: string, LandContour: string, Utilities: string, LotConfig: string, LandSlope: string, Neighborhood: string, Condition1: string, Condition2: string, BldgType: string, HouseStyle: string, OverallQual: string, OverallCond: string, YearBuilt: string, YearRemodAdd: string, RoofStyle: string, RoofMatl: string, Exterior1st: string, Exterior2nd: string, MasVnrType: string, MasVnrArea: string, ExterQual: string, ExterCond: string, Foundation: string, BsmtQual: string, BsmtCond: string, BsmtExposure: string, BsmtFinType1: string, BsmtFinSF1: string, BsmtFinType2: string, BsmtFinSF2: string, BsmtUnfSF: string, TotalBsmtSF: string, Heating: string, HeatingQC: string, CentralAir: string, Electrical: string, 1stFlrSF: string, 2ndFlrSF: string, LowQualFinSF: string, GrLivArea: string, BsmtFullBath: string, BsmtHalfBath: string, FullBath: string, HalfBath: string, BedroomAbvGr: string, KitchenAbvGr: string, KitchenQual: string, TotRmsAbvGrd: string, Functional: string, Fireplaces: string, FireplaceQu: string, GarageType: string, GarageYrBlt: string, GarageFinish: string, GarageCars: string, GarageArea: string, GarageQual: string, GarageCond: string, PavedDrive: string, WoodDeckSF: string, OpenPorchSF: string, EnclosedPorch: string, 3SsnPorch: string, ScreenPorch: string, PoolArea: string, PoolQC: string, Fence: string, MiscFeature: string, MiscVal: string, MoSold: string, YrSold: string, SaleType: string, SaleCondition: string, SalePrice: string, Half Of The SalePrice: double, Double Of The Price: double]

In [168]:
# COMMAND ----------

df.repartition(col("SalePrice"))

DataFrame[Id: string, MSSubClass: string, MSZoning: string, LotFrontage: string, LotArea: string, Street: string, Alley: string, LotShape: string, LandContour: string, Utilities: string, LotConfig: string, LandSlope: string, Neighborhood: string, Condition1: string, Condition2: string, BldgType: string, HouseStyle: string, OverallQual: string, OverallCond: string, YearBuilt: string, YearRemodAdd: string, RoofStyle: string, RoofMatl: string, Exterior1st: string, Exterior2nd: string, MasVnrType: string, MasVnrArea: string, ExterQual: string, ExterCond: string, Foundation: string, BsmtQual: string, BsmtCond: string, BsmtExposure: string, BsmtFinType1: string, BsmtFinSF1: string, BsmtFinType2: string, BsmtFinSF2: string, BsmtUnfSF: string, TotalBsmtSF: string, Heating: string, HeatingQC: string, CentralAir: string, Electrical: string, 1stFlrSF: string, 2ndFlrSF: string, LowQualFinSF: string, GrLivArea: string, BsmtFullBath: string, BsmtHalfBath: string, FullBath: string, HalfBath: string, BedroomAbvGr: string, KitchenAbvGr: string, KitchenQual: string, TotRmsAbvGrd: string, Functional: string, Fireplaces: string, FireplaceQu: string, GarageType: string, GarageYrBlt: string, GarageFinish: string, GarageCars: string, GarageArea: string, GarageQual: string, GarageCond: string, PavedDrive: string, WoodDeckSF: string, OpenPorchSF: string, EnclosedPorch: string, 3SsnPorch: string, ScreenPorch: string, PoolArea: string, PoolQC: string, Fence: string, MiscFeature: string, MiscVal: string, MoSold: string, YrSold: string, SaleType: string, SaleCondition: string, SalePrice: string, Half Of The SalePrice: double, Double Of The Price: double]

In [169]:
# COMMAND ----------

df.repartition(5, col("LotArea"))

DataFrame[Id: string, MSSubClass: string, MSZoning: string, LotFrontage: string, LotArea: string, Street: string, Alley: string, LotShape: string, LandContour: string, Utilities: string, LotConfig: string, LandSlope: string, Neighborhood: string, Condition1: string, Condition2: string, BldgType: string, HouseStyle: string, OverallQual: string, OverallCond: string, YearBuilt: string, YearRemodAdd: string, RoofStyle: string, RoofMatl: string, Exterior1st: string, Exterior2nd: string, MasVnrType: string, MasVnrArea: string, ExterQual: string, ExterCond: string, Foundation: string, BsmtQual: string, BsmtCond: string, BsmtExposure: string, BsmtFinType1: string, BsmtFinSF1: string, BsmtFinType2: string, BsmtFinSF2: string, BsmtUnfSF: string, TotalBsmtSF: string, Heating: string, HeatingQC: string, CentralAir: string, Electrical: string, 1stFlrSF: string, 2ndFlrSF: string, LowQualFinSF: string, GrLivArea: string, BsmtFullBath: string, BsmtHalfBath: string, FullBath: string, HalfBath: string, BedroomAbvGr: string, KitchenAbvGr: string, KitchenQual: string, TotRmsAbvGrd: string, Functional: string, Fireplaces: string, FireplaceQu: string, GarageType: string, GarageYrBlt: string, GarageFinish: string, GarageCars: string, GarageArea: string, GarageQual: string, GarageCond: string, PavedDrive: string, WoodDeckSF: string, OpenPorchSF: string, EnclosedPorch: string, 3SsnPorch: string, ScreenPorch: string, PoolArea: string, PoolQC: string, Fence: string, MiscFeature: string, MiscVal: string, MoSold: string, YrSold: string, SaleType: string, SaleCondition: string, SalePrice: string, Half Of The SalePrice: double, Double Of The Price: double]

In [170]:
# COMMAND ----------

df.repartition(5, col("LotArea")).coalesce(2)

DataFrame[Id: string, MSSubClass: string, MSZoning: string, LotFrontage: string, LotArea: string, Street: string, Alley: string, LotShape: string, LandContour: string, Utilities: string, LotConfig: string, LandSlope: string, Neighborhood: string, Condition1: string, Condition2: string, BldgType: string, HouseStyle: string, OverallQual: string, OverallCond: string, YearBuilt: string, YearRemodAdd: string, RoofStyle: string, RoofMatl: string, Exterior1st: string, Exterior2nd: string, MasVnrType: string, MasVnrArea: string, ExterQual: string, ExterCond: string, Foundation: string, BsmtQual: string, BsmtCond: string, BsmtExposure: string, BsmtFinType1: string, BsmtFinSF1: string, BsmtFinType2: string, BsmtFinSF2: string, BsmtUnfSF: string, TotalBsmtSF: string, Heating: string, HeatingQC: string, CentralAir: string, Electrical: string, 1stFlrSF: string, 2ndFlrSF: string, LowQualFinSF: string, GrLivArea: string, BsmtFullBath: string, BsmtHalfBath: string, FullBath: string, HalfBath: string, BedroomAbvGr: string, KitchenAbvGr: string, KitchenQual: string, TotRmsAbvGrd: string, Functional: string, Fireplaces: string, FireplaceQu: string, GarageType: string, GarageYrBlt: string, GarageFinish: string, GarageCars: string, GarageArea: string, GarageQual: string, GarageCond: string, PavedDrive: string, WoodDeckSF: string, OpenPorchSF: string, EnclosedPorch: string, 3SsnPorch: string, ScreenPorch: string, PoolArea: string, PoolQC: string, Fence: string, MiscFeature: string, MiscVal: string, MoSold: string, YrSold: string, SaleType: string, SaleCondition: string, SalePrice: string, Half Of The SalePrice: double, Double Of The Price: double]